[2017-03-23 06:07] jamonholmgren opened #2 "Detect `Screen` in title of generator"
![image](https://cloud.githubusercontent.com/assets/997157/23591501/ddaba8a0-01b6-11e7-9d17-f8149fe1915c.png)

In general, we should detect XY + Y and => XY instead of XYY for all generators.

(moved from @GantMan's https://github.com/infinitered/ignite/issues/868)

[2017-03-31 20:56] dodedodo33 opened #8 "Hot Module Reloading"
With this boilerplate I´ve encountered that changing anything in reducers or sagas often requires a full reload. With the error message that with the react-redux 2.0+ releases changing the store on the fly is not supported.

Now I've been playing around with this and got the reducer hot module reloading working by changing the store creation modules. I've moved the code from App/Redux/CreateStore

[2017-04-03 16:44] skellock opened #10 "Switching from AVA to Jest"
There's been a lot of talk about this [here](https://github.com/infinitered/ignite/issues/781), in a few other tickets and now in Slack.

Let's switch to Jest for our React Native projects (even though I love AVA and will still use it everywhere else -- including any ignite plugins I write).

React Native seems to have standardized on Jest and seems a bit against the grain to stay with AVA here.

[2017-04-03 17:04] ericvera opened #11 "Tests for listview are failing"
$ npm run test

  7 passed
  3 failed

  generators-integration › generate listview of type row works
  /Users/eric/Code/ignite-ir-next/IntegrationTest/test/generators-integration.test.js:24

  Actual:

    false

  Expected:

    "file"

  Test.<anonymous> (test/generators-integration.test.js:24:5)
  step (test/generators-integration.test.js:3:191)

  generators-integration › generate listview of

[2017-04-04 12:22] ericvera opened #13 "Project tests fail if I18n plugin is not included"
`boilerplate/Tests/Setup.js` has a reference to I18n.

[2017-04-04 13:48] GantMan commented on #13
awesome!  Will fix.  Would you like to give it a go first?

PRs welcome!

[2017-04-04 13:51] ericvera commented on #13
Working on the move to Jest at the moment. I'll let you know if I get to it before somebody else. This is mostly an issue when testing plugins with --min option so not urgent. If other people see this I can take a look sooner.

[2017-04-04 14:11] #11 closed

[2017-04-06 18:05] jhblacklock opened #14 "White flash on transition"
I got this boilerplate setup with CRNA and it's working great! Thanks.

I do see a white flash, seems to be loading styles like bg color later in the render, so the initial page load starts with a white bg.  Tested a greenfield bootstrap install in the ios emulator and did not see that issue.  Wondering if it's a CRNA thing or maybe expo?

Thanks!

[2017-04-06 18:48] jhblacklock commented on #14
I was able to mitigate this issue modifying StackNavigator

[code]

Happy to create a PR if needed.

[2017-04-06 19:10] GantMan commented on #14
That's interesting.   We might need that PR, let me see if I can get a local test with the same result.

[2017-04-06 19:31] jhblacklock commented on #14
Got it queued up if needed.

[2017-04-06 19:40] GantMan commented on #14
@ryanlntn are you seeing this same problem with your current app?

[2017-04-06 19:40] GantMan commented on #14
how are you liking building expo with ignite btw  @jhblacklock ?  That's on our todo list.

[2017-04-06 19:55] jhblacklock commented on #14
Great IMO.  Although I haven't gotten far.

I just attached ignite to a create-react-native-app.  Had to reconfigure the entry point, removed `index.ios.js` and `index.android.js`, added `index.js` to `/App` and copied `App/Containers/App.js` to `/App/index.js` then removed `App/Containers/App.js`. I also manually copied over the ignite folder and contents, and merged package.json.

I've only test

[2017-04-07 19:40] ruddell commented on #13
This is the same issue as https://github.com/infinitered/ignite/issues/911

I submitted a PR on the 2016 boilerplate https://github.com/infinitered/ignite-ir-boilerplate-2016/pull/20

[2017-04-09 18:10] ryanlntn commented on #14
@GantMan I've been mainly using TabNavigator so I didn't notice until today. The StackNavigator definitely exhibits this issue.

[2017-04-12 07:35] jvanderwee opened #16 "Error when generating listview"
Running ignite g listview TestScreen successfully generates but outputs:
[code]

ignite doctor:
[code]

[2017-04-12 17:38] GantMan commented on #16
Hrmmmm, taking a look at that line on Master looks like there's been some changes.
https://github.com/infinitered/ignite-ir-next/blob/master/commands/listview.js#L95

Can you firstly do `ignite add ir-next` to make sure you've got latest on node.

If that doesn't work: pull that code with a clone to `git@github.com:infinitered/ignite-ir-next.git` and then install it with `ignite add /path/to/maste

[2017-04-12 19:47] skellock commented on #16
https://github.com/infinitered/ignite-ir-next/blob/master/commands/listview.js#L100

`print.log` isn't a thing.   `print.info` is though.

[2017-04-12 19:58] GantMan commented on #16
hahahaha, PR needed

[2017-04-13 15:28] #16 closed

[2017-04-16 09:43] RWOverdijk opened #18 "Generate screen"
[code]

Which makes sense. I implemented Redux in my app (sort of, still trying) so the import line looks like this:

[code]

If this is regex, maybe just look for `from 'react-navigation';` instead. It doesn't matter what gets imported.

[2017-04-16 15:29] GantMan commented on #18
Good catch!  Will check on this.

[2017-04-20 19:03] jamonholmgren commented on #10
Added to our next Ignite core team meeting agenda.

[2017-04-20 19:03] jamonholmgren commented on #10
cc @derekgreenberg @robinheinze

[2017-04-21 01:08] jamonholmgren commented on #13
I'm working on a port of that over to here. THanks @ruddell for fixing this!

[2017-04-21 12:02] #13 closed

[2017-04-21 22:42] derekgreenberg commented on #10
I used [jest-codemods](https://github.com/skovhus/jest-codemods) to port the Ava unit tests over to Jest for a project (built from ignite 2.0) and it worked perfectly.

[2017-04-22 01:03] skellock commented on #10
Sorceror!

[2017-04-24 21:24] derekgreenberg commented on #10
Ok, might as well show some other changes made for this:

Added /jest directory

In package.json under 'scripts:

Replace Ava stuff with Jest stuff:

Remove
[code]
Replace:

[code]

` in package.json, removed Ava node `
[code]
`in package.json added Jest node`

[code]

`Removed unused devDependencies from package.json`

[code]

`Added Jest devDependencies in package.json`

"babel-preset-react-nati

[2017-05-04 16:56] jamonholmgren opened #31 "Refine walkthrough process & improve Next Steps"
During the walkthrough process, we ask a series of questions, but they're not very well thought through at this point. Let's focus the walkthrough on being a beginner-friendly selection of options.

In addition, let's build out a much better / nicer Next Steps screen once the project is done generating. Include:

• What was generated?
• How do I learn about the structure & tools available in the g

[2017-05-09 05:04] jamonholmgren opened #35 "Next version of React Native"
This issue replaces https://github.com/infinitered/ignite/issues/957 for tracking React Native version bump from 0.42+.

React Native 0.43 and 0.44 use `React 16.0.0-alpha` which isn't very friendly with React Native. @skellock recommends we wait for 0.45 before updating `ignite-ir-next`.

[2017-05-09 12:07] skellock commented on #35
I have 0.44 up & running on my active project here.  I think as long as we're not using `enzyme` and `react-native-router-flux` and are ok with a few warnings showing up (like `reactotron-react-native` - i know, i know), then `0.44.x` is fine to upgrade.

[2017-05-09 12:07] skellock commented on #35
I'll add `react-native-maps` into that mix too.  they just refactored their codebase, and it might no longer be compatible.  We'll have to revisit that as well.

[2017-05-09 12:08] skellock commented on #35
Make the pain stop @jamonholmgren .

[2017-05-09 21:04] derekgreenberg opened #36 "Add Jest snapshot tests"
- replace "Tests/Setup.js" with Jest mocks and ensure existing component tests still run, otherwise fix issues.
- Add "updateSnapshot": "jest --updateSnapshot" as a script in package.json
- If a snapshot test of an ignite-ir-next component covers 100% of the code, replace the unit test with a snapshot test
- Otherwise, supplement the snapshot test with enzyme/shallow tests to exercise code that is

[2017-05-10 08:28] #2 closed

[2017-05-10 12:49] skellock opened #38 "react-navigation + redux"
`react-navigation` supports redux, but currently that's not implemented yet.

I just did this in a client project a few days ago, but it would be nice to land it in this boilerplate.

[Here's a gist](https://gist.github.com/skellock/fb15c65079bb973490cf7aa370f6fca9) with the juicy parts.  Next step is to roll this in by default.

[2017-05-11 04:25] jamonholmgren commented on #38
Looking forward to reviewing your PR, @skellock .

[2017-05-17 05:06] hnprashanth opened #41 "Removing getUser from Api.js results in error"
Hi,

I'm new to react-native & ignite, was following the YouTube guide on how to add API to the application.
There seems to be some kind of dependency on getUser since removing this API results in error. I tried removing other two APIs getRate and getRoot, but they were fine.
I'm getting "uncaught at check call argument fn is undefined"
Since I'm new to this, I'm not able to debug what's going on

[2017-05-17 22:37] greenkeeper[bot] opened #42 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-17 22:47] greenkeeper[bot] opened #43 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-18 04:07] GantMan commented on #41
I wonder if there's something inside the saga?  Can you do a find-all?  I bet the saga is looking for that API call.

[2017-05-18 06:17] #43 closed

[2017-05-18 06:17] #42 closed

[2017-05-18 06:43] jamonholmgren commented on #10
Fixed in #30 . :tada: :taco:

[2017-05-18 06:44] #10 closed

[2017-05-18 14:52] hnprashanth commented on #41
Yes, there is reference from GithubSagas.js which has a reference from Sagas/index.js, I'm wondering why every application would require Github getUser!

[2017-05-18 15:03] hnprashanth commented on #41
I'm following YouTube guide to the T - https://www.youtube.com/watch?v=GUZJr6Dyok0&t=180s
When I do what is show at 3 minute mark, I get this error.

[2017-05-18 15:36] hnprashanth commented on #41
Removed all references and this seems to be working (no error, but API not working as expected, closing this as it's not related).

[2017-05-18 15:36] #41 closed

[2017-05-19 08:55] tomaswitek opened #46 "It's still using AVA app generated with ignite new MyApp -b ir-next"
Hi,
great job you're doing here!
Just wanted to ask, when I run `ignite new MyApp -b ir-next` I still end up with AVA test setup altough I can see that here in the repo you've already moved to Jest.

I'll end up with this package.json:
[code]

[2017-05-19 13:25] GantMan commented on #46
We're about to release a new version, but you can point the boilerplate to the github repo if you'd like.

[2017-05-19 14:54] tomaswitek commented on #46
OK I thought so 😏
Thx!!!

[2017-05-19 15:03] tomaswitek commented on #46
Sorry @GantMan can you pls help me with the command?
`ignite new TestApp -b https://github.com/infinitered/ignite-ir-next`

returns:
[code]

If I understand it right I should be able to pass a path instead of name is that correct?
https://github.com/infinitered/ignite/blob/master/src/commands/new.js#L86

[2017-05-19 16:37] robinheinze opened #47 "Move Standard to plugin"
Move Standard and the linting behavior to a plugin to allow for a `--no-lint` option and eventually the option to use [Semistandard](https://github.com/Flet/semistandard) or other linters

[2017-05-19 19:14] ruddell commented on #46
You have to clone the repository first, then use that directory path instead of the url.

[2017-05-21 08:38] heyjared opened #49 "Unhandled JS Exception: console.tron.overlay is not a function"
When running a release build on my device, I get the following exception:
[code]
This causes the app to terminate, due to Reactotron not being available in non-DEV builds. Other tron functions are not affected because they are mocked in ReactotronConfig.

I solved this temporarily by removing the overlay in App.js and using the unmodified App instead of AppWithBenefits.

[2017-05-21 12:04] skellock commented on #49
Thanks.  Ya, this is an issue.  Thanks for bringing this up.

There's a better solution to this [incoming shortly](https://github.com/infinitered/reactotron/issues/433).  In the mean time, it's a good idea to either do what you did, or protect it behind a conditional.

[2017-05-22 18:59] robinheinze opened #51 "Integration tests creating githooks error"
After running integration tests, the following error spits out when running git commands:

`line 18: cd: IntegrationTest/IntegrationTest: No such file or directory`

There's an error for each hook, so on commit, it spits out:

[code]

It doesn't seem to block the git action, (i.e. Still able to commit and push successfully).

[2017-05-22 22:32] derekgreenberg commented on #36
@jamonholmgren This can be closed. See `https://github.com/infinitered/ignite-ir-next/pull/48`

[2017-05-23 00:25] #47 closed

[2017-05-23 05:36] jamonholmgren commented on #51
@robinheinze I've noticed this for a while and am constantly aggravated by it. I haven't had time to look into it. I just run `rm -rf ./.git/hooks` each time ;)

[2017-05-23 05:37] jamonholmgren commented on #51
I don't think we should integrate husky or git hooks into our boilerplate at all, btw.

[2017-05-23 05:39] jamonholmgren commented on #51
#53 fixes this issue by removing husky (temporarily, but I think it should be permanently, and make husky an optional plugin)

[2017-05-23 05:42] jamonholmgren commented on #46
Yeah, just a path, we don't support git repos at the moment (although that would be cool).

[2017-05-23 05:43] jamonholmgren commented on #38
@skellock What's the timeline on this? Post-Andross?

[2017-05-23 05:43] jamonholmgren commented on #36
Thank you @derekgreenberg !

[2017-05-23 05:43] #36 closed

[2017-05-23 05:45] jamonholmgren commented on #8
@dodedodo33 Thanks so much for the kind words, and I'm very sorry this issue got missed! This looks really interesting. Do you have any updates to it beyond what you've written here?

[2017-05-23 05:46] jamonholmgren commented on #14
@ryanlntn Is this still an issue?

[2017-05-23 06:08] #18 closed

[2017-05-23 06:16] jamonholmgren commented on #46
We'll be releasing the new Andross this week. https://github.com/infinitered/ignite/issues/1047

[2017-05-23 06:16] #46 closed

[2017-05-23 06:17] tomaswitek commented on #46
Thank you all for the info 👍

[2017-05-23 06:45] jamonholmgren commented on #31
This PR is part of this initiative.

https://github.com/infinitered/ignite-ir-next/pull/55

[2017-05-23 08:18] dodedodo33 commented on #8
@jamonholmgren You're welcome :) Unfortunately I haven't really had the time to build on this or really test it. So far any reducer updates seemed to correctly reload with this change. I know this works well in react with webpack, but webpack also provides a path for which modules are updated. Where react-native does not. So the optimization of checking the path and only updating the reducers when

[2017-05-23 13:56] skellock commented on #51
It's an issue because we're running the integration tests within an existing repo.  Repo in a repo isn't a good thing.

I'm happy to see `husky` go for the boilerplate.

[2017-05-23 13:57] #51 closed

[2017-05-23 13:58] skellock commented on #38
Yes.

[2017-05-23 16:04] jamonholmgren commented on #31
Another PR here #56 .

[2017-05-23 16:33] ryanlntn commented on #14
@jamonholmgren It doesn't show up for me with a newly ignited app. Closing this for now.

[2017-05-23 16:33] #14 closed

[2017-05-23 16:45] jamonholmgren opened #57 "Pin versions of walkthrough plugins"
Need to pin these versions:

https://github.com/infinitered/ignite-ir-next/blob/master/boilerplate.js#L161-L190

[2017-05-24 05:49] jamonholmgren commented on #31
Going to call this reasonably okay for now. We should continue to work on it.

[2017-05-24 05:49] #31 closed

[2017-05-24 18:42] jamonholmgren opened #58 "Run integration tests in temp folder"
Using something like [tempy](https://github.com/sindresorhus/tempy), we should be running integration tests in a temporary folder rather than in the repo. Related to #51.

[2017-05-24 19:41] engmsaleh commented on #49
I have struggled for two days with this issue, the problem that when I submit the build to TestFlight,  when I install the App, the App open the splash screen and crashes immediately, without any obvious problem.

It ends up that I changed that line in `App.js` file from
`const AppWithBenefits = console.tron.overlay(App)`
into
`export default App`

[2017-05-24 22:02] jamonholmgren commented on #49
@engmsaleh Yes, this is a rough one, we're working on it!

[2017-05-25 02:18] GantMan commented on #49
Yup this was a super sneaky bug.  I recently had the same issue only yesterday!

As you can see there's an update to Reactotron which solves this 👍

Another easy way is to add the overlay stub in production here:  https://github.com/infinitered/ignite-ir-next/blob/master/boilerplate/App/Config/ReactotronConfig.js#L54-L61

[2017-05-25 03:49] heyjared commented on #38
I was following this boilerplate to integrate react-navigation with redux but came across this error with immutable and reduxpersist

`The push method cannot be invoked on an Immutable data structure`

I've worked around it so far by blacklisting the nav reducer from reduxpersist.

[2017-05-25 03:51] skellock commented on #38
Sweet.  Great tip @heyjared !

[2017-05-25 06:15] #57 closed

[2017-05-25 06:15] #49 closed

[2017-05-25 06:24] #58 closed

[2017-05-26 07:28] vesper8 opened #63 "error after deleting node_modules and running npm i"
I was dealing with an error and as I often do in this scenario I deleted the node_modules and ran npm install again which is supposed to work and always works normally

But then I got this error

[code]

This is because in the package.json you have this:

[code]

After running this on ignite 2.0.0-rc.1

[code]

Why does it do this? Other boilerplates install the package normally so that it can be

[2017-05-26 13:06] qwert666 opened #65 "Wrong navigation plugin ?"
It seems as the project depends on react-navigation and not on react-native-router-flux

[CustomNavBar](https://github.com/infinitered/ignite-ir-boilerplate/blob/master/boilerplate/App/Components/CustomNavBar.js#L6)

[2017-05-26 13:08] skellock commented on #65
Seems  like we missed that, thx for the heads up.

[2017-05-26 13:38] GantMan commented on #65
I'm surprised the e2e tests didn't squawk and fail.   Easy enough to fix, but we should really take the time to add a test that would have caught this.

[2017-05-26 17:04] skellock commented on #65
#68 has a fix for this in place.

[2017-05-26 19:22] #65 closed

[2017-05-26 19:23] skellock commented on #63
Hey, I'm not following what you're saying here.

Could you rephrase it for me?

Thanks.

[2017-05-26 19:26] skellock commented on #35
Now that we're off `react-native-router-flux`, we good to upgrade.

There is a minor issue with warnings appearing (Facebook's issue), but running `yarn` a final time or `npm dedupe` makes the warnings go away (they are with the library `bser`).

I say, let's hold off for a week, then go to `0.45.0`.

(BTW:  If anyone wants to use 0.44.2, you can run `ignite new Latest --react-native-version 0.44.

[2017-05-26 19:48] ruddell commented on #63
To reproduce:
 - Generate any app - don't have `IGNITE_PLUGIN_PATH` set as an env variable
 - Open package.json, the boilerplate is linked by file path instead of npm package

For example, I see `    "ignite-ir-boilerplate": "file:/private/tmp/ignite/MyApp/node_modules/ignite-ir-boilerplate",`

[2017-05-26 19:50] skellock commented on #63
Woah!  Thanks!  I'm going to see if I can reproduce this here.  Yikes.

Thanks for the clarification.

[2017-05-26 19:53] skellock commented on #63
Confirmed.

From my newly made `package.json`:

`"ignite-ir-boilerplate": "file:/Users/steve/src/sandbox/ignite/Test/node_modules/ignite-ir-boilerplate",`

[This line](https://github.com/infinitered/ignite-ir-boilerplate/blob/master/boilerplate.js#L161) is probably the cause. We need to be installing from `npm`, not locally.

Thanks again.

[2017-05-26 20:31] skellock commented on #63
Not so straight forward.  I think we might need to introduce another switch for this.  I can see some situations where you would want to install the directory.

Most of the time it should be from npm, so I do consider this a bug.

The workaround for now is to just manually change your `package.json` to the right answer.  Sorry, I know that's lame, but we're going to have to discuss what the right

[2017-05-26 21:47] jamonholmgren commented on #63
I've run into this issue as well. I do think we need a flag -- or detect when we are initially installing from a path and follow suit.

[2017-05-27 17:20] cwagner22 opened #71 "Missing examples"
How can I access the components from `ignite/Examples/Containers/ignite-ir-boilerplate` (SectionExample.js etc) directly from the dev screens? Also it looks like the sagas examples are missing as well.
Why the boilerplate has much less examples than ignite v1?

[2017-05-27 18:17] ruddell commented on #63
I tested the fix and here's what I found:
  - Works (from npm): `ignite new MyApp -b ignite-ir-boilerplate`
  - Works (local clone, full path): `ignite new MyApp -b /private/tmp/ignite/ignite-ir-boilerplate/`
  - Broken (local clone, relative path): `ignite new MyApp -b ./ignite-ir-boilerplate`
[code]

[2017-05-27 21:56] GantMan commented on #71
Hiya @cwagner22 -  Please pardon us as we clean up.  We're hoping to move some of those examples to plugins.  Like `ignite add loginscreen` or something nice like that.  So it can grow without adding bulk to the base project.

Perhaps you'd like to take a stab at taking our saga example and making a plugin?   It's actually quite easy, we're just very focussed on making sure "plugins" work correctl

[2017-05-27 22:05] GantMan commented on #63
Good catch!  Easy enough to fix.  We should just detect paths and force them all to be full.

[2017-05-28 05:22] cwagner22 commented on #71
I see, I guess I could take a look if nobody else if working on it. So I just have to follow [this doc](https://github.com/infinitered/ignite/blob/master/docs/advanced-guides/creating-plugins.md) and add the login saga?

[2017-05-28 19:39] GantMan commented on #71
Basically, yes.   This helps us get more compose-able pieces which is the goal of 2.0.

Additionally, I'll add this:  If you get stuck, or find any issues in our docs please let us know.  We really want to make the plugin architecture top-notch right now, so *everyone* can build plugins that benefit everyone.

[2017-05-30 23:21] skellock commented on #35
We're now using `0.42.3` as of `2.0.0-rc.6`.

[2017-05-31 22:02] HarrisRobin commented on #38
@heyjared you will need to avoid using `navigation.navigate` and handle all navigation actions in your sagas to avoid that error.

[2017-05-31 22:57] heyjared commented on #38
@HarrisRobin I don't have `navigation.navigate` anywhere except in the pre-generated PresentationScreen though.

[2017-06-03 01:21] crcury14 opened #76 "The filename, directory name, or volume label syntax is incorrect error"
I get this error after adding the boilerplate when creating a new ignite app:

The filename, directory name, or volume label syntax is incorrect.
The filename, directory name, or volume label syntax is incorrect.
The filename, directory name, or volume label syntax is incorrect.
The filename, directory name, or volume label syntax is incorrect.
The filename, directory name, or volume label syntax

[2017-06-06 07:48] vincejah opened #77 "Redux-persist with combined reducers"
My root reducer looks like this:

[code]

if I add `services`into the whitelist of persist-redux, i get the following error:

`console.error: "Unexpected key "mergeDeep" found in previous state received by the reducer. Expected to find one of the known reducer keys instead: "reducer1", "reducer2". Unexpected keys will be ignored."`

What is the correct way to make `services`persistent?

[2017-06-06 15:23] HelloEdit commented on #38
Hello,

Where are you on Redux + react-navigation integration ?
thanks for all 😄

[2017-06-15 22:39] maitham1 opened #83 "Npm install any module results in react-native is missing?"
Hey,

Awesome stuff with ignite guys. I'm new to ignite and react and after installing the boilerplate, i'm trying to add firebase to the project by running npm install firebase. However, regardless of what I install it seems like all the modules in node_modules are no longer recognized. I then have to reinstall every module again by specifying npm install "module Name". I can't work out why this

[2017-06-16 17:44] derekgreenberg commented on #38
@HelloEdit  Redux + react-navigation integration for ignite-ir-boilerplate is in progress.

If you would like a sneak preview of an example app that shows how an Ignited app works with  react-navigation + redux in a way that wires up the Redux aspect of react-navigation integration with Sagas that dispatch Redux actions for Rehydration complete, Login and Logout actions, you might want to take a l

[2017-06-16 17:54] GantMan commented on #38
Actually @derekgreenberg - I'll be adding it today.  We should circle up on that PR.

I have a pretty nice minimal version of React Navigation + Redux that you can build off of in the example login.

[2017-06-16 18:08] derekgreenberg commented on #38
@GantMan sounds good - the example login can be updated to work with the minimal version of React Navigation + Redux reflected in your upcoming PR to ignite-ir-boilerplate .

[2017-06-17 03:31] tmaly1980 opened #86 "Plans for globalizing actions via bindActionCreators?"
I've seen the redux pattern in other projects where mapDispatchToProps is bound to all action creators through bindActionCreators... That way, it's one less thing to define in each container. For example, we'd add to a container:

[code]

And Redux/index.js would also have (as an example):

[code]

Each reducer already exports Creators extracted from createActions(), so it seems logical to take th

[2017-06-17 23:44] GantMan commented on #38
FInally closed by #85

[2017-06-17 23:44] #38 closed

[2017-06-20 10:24] skellock commented on #83
Where are you seeing this error?  Are you running the right packager? Can you show me your `ignite doctor`?

[2017-06-20 10:28] skellock commented on #77
Our transform for redux config needs to be brought up to date.  [This is](https://github.com/infinitered/ignite-ir-boilerplate/blob/master/boilerplate/App/Services/ImmutablePersistenceTransform.js#L29) from the ReduxPersist 2 days.

[2017-06-20 10:30] skellock commented on #76
https://github.com/infinitered/ignite/issues/1081 Let’s track over here.

[2017-06-20 10:30] #76 closed

[2017-06-20 10:32] #63 closed

[2017-06-20 10:32] #35 closed

[2017-06-20 12:42] tmaly1980 opened #90 "Listview sections generator naming"
The generator for the ListView sectioned screen doesn't rename the class to what we provide it, it's still ListviewSectionsExample in the file, even though the filename is what it should be (user provided). If I generate a Listview that does NOT use sections, those boilerplate containers are class named properly.

[2017-06-20 12:43] tmaly1980 opened #91 "Generator supporting subfolder structure"
Any plans on supporting subfolders within the generators? Specifically, I am creating many small components all for one screen, while having several screens in my app. In the end I will probably have 30-40 components in my app, mainly to keep logic, styling, JSX, and testing more modularly. Specifically I'm using StorybookUI to refine my component designs/testing.

The App/Components folder is get

[2017-06-20 20:08] HelloEdit commented on #38
This is really cool, but if I want to navigate between two screen, I need to use
[code]
or
[code]
?
I begin to understand Redux and the philosophy of React Navigation 😌
Maybe one line to explain this in the README of the boilerplate would be helpful for beginner ^^

Thank for your work 😙

[2017-06-21 01:33] derekgreenberg commented on #38
@HelloEdit
Here's a simple example of how to navigate between screens that are listed under a single StackNavigator:

Given this StackNavigator:

[code]
From the LoginScreen, let's add a button that navigates directly to the TosScreen. This example just shows the navigation portion of the LoginScreen:

[code]
The `navigate` function is available from `this.props.navigation` in any screen that is o

[2017-06-24 02:40] jamonholmgren commented on #90
@tmaly1980 Would you be willing to take a crack at this one?

[2017-06-24 04:24] GantMan commented on #77
@skellock - Do you think we should be using https://github.com/rt2zz/redux-persist-immutable ???

@vincejah - can you give this a go and let us know if it works?   https://github.com/rt2zz/redux-persist-transform-immutable

[2017-06-24 05:24] #90 closed

[2017-06-24 10:09] skellock commented on #77
That one is for Immutable.js I think.  But ya, we’d need the seamless-immutable version of that.

[2017-06-25 17:34] HelloEdit opened #95 "AIDL is missing"
Hello !

Today, I start new project with ignite and vector-icons as dependency.
But when I launch `yarn android:build` in bash, I get this:
[code]
So, I try on windows CLI
[code]
I don't know if I should open issue on react-native repo...
So for the moment ... I can't build my project... PLEASE HELP ME !

---

I use the latest ignite CLI with RN 0.45.1 for features reasons

[2017-06-25 17:42] jbreuer95 opened #96 "Outdated on NPM"
Could you guys update NPM to the rc.7 version so ignite new will use this latest awesome one :)

[2017-06-25 20:31] skellock commented on #96
Oops, it looks like it was deployed to the `next` dist-tag by mistake.

[2017-06-25 20:33] skellock commented on #96
Good to go.  Thx for the heads up.

[2017-06-25 20:33] #96 closed

[2017-06-25 22:01] jamonholmgren commented on #96
This is strange...I thought I ran the command to update it to `latest` after deploying. `np` doesn't let me tag with `latest` unfortunately, so it's a separate step.

[2017-06-25 22:29] skellock commented on #96
Ya no worries dude. Once we go back to regular version numbers, it won’t be a problem. You can also follow it up with a quick `npm publish`.

[2017-06-25 23:08] jbreuer95 commented on #95
The boilerplate has been updated to a version which has 0.45.1 as default version, might want to try that one?

[2017-06-26 09:50] HelloEdit commented on #95
Hum... Are you sure ? Because ignite start a new project with React Native 0.42.0... I will check after 😉

[2017-06-26 18:51] jbreuer95 commented on #95
Yeah i did a `ingnite new` yesterday and got version 0.45.1 :). Might also wanna update `ingnite-cli` but i dont think that makes a diffrence

[2017-06-26 20:00] HelloEdit commented on #95
My bad, I will try on a new project ! But today I try a project with RN 0.46.0-rc.3, and AIDL is still missing... I think only vector-icons team can be solve this problem...
I feel a little useless 😄

[2017-06-26 20:25] HelloEdit commented on #95
Ok bash subsystem and CMD says "nop":
bash:
[code]
CMD:
[code]

[2017-06-28 22:16] jbreuer95 commented on #77
i get this without an second combineReducers too

[2017-07-05 12:55] #95 closed

[2017-07-05 13:01] HelloEdit opened #106 "[Discussion] What do you think about the Atomic Design?"
Today, I just discovered the [Atomic Design](http://bradfrost.com/blog/post/atomic-web-design/)

I think it's good method of working, I do not know if to create a react application on this design is really practical.

Maybe the ignite-boilerplate could be inspired by it 😄

[2017-07-05 13:49] skellock commented on #106
I took a run at Atomic Design on a project and wasn't overly happy with how it turned out.  I'm sure 100% of that dissatisfaction was brought on my me doing it wrong tho.  The lines between my molecules and organisms were too blurry.

You could certainly create your own boilerplate to do this.

If you do, please lemme know.  I'm very interested in this!

[2017-07-06 06:23] jamonholmgren opened #107 "Relative paths for boilerplate are broken"
#70 reverted a change I made a while ago, which fixes #63. But it also breaks relative paths:

[code]

[2017-07-08 03:15] heyjared commented on #77
This seems related to [this issue](https://github.com/infinitered/ignite/issues/271) and it appears [this line](https://github.com/infinitered/ignite-ir-boilerplate/blob/7a08b490fb49e745401ed75bc2f5ac251f098bdf/boilerplate/App/Services/ImmutablePersistenceTransform.js#L29) that is causing it. However, as @skellock speculated, this seems to not be necessary anymore as of [this merge request](https:

[2017-07-08 12:08] #77 closed

[2017-07-08 12:09] skellock commented on #77
Thx @heyjared !

[2017-07-10 14:04] jbreuer95 opened #110 "Bump version?"
Hey guys,

Since #100 and #109 fixed some important problems can someone update the package here and on npm? I need to start a few new projects for my company and this would speed the project creation proces up alot :)

[2017-07-11 09:46] jbreuer95 commented on #83
@maitham1 i had this problem too yesterday, i updated my npm and it all worked like expected again.

[2017-07-17 14:23] HelloEdit commented on #95
facebook/react-native#14733

[2017-07-18 04:44] jamonholmgren commented on #83
@maitham1 Can you update node / npm and see if it still has some issues? Also post `ignite doctor` results here.

[2017-07-18 04:52] jamonholmgren commented on #110
Hey @jbreuer95 ! We've bumped Ignite to 2.0.2 a couple days ago, although it looks like we haven't pushed any [release notes](https://github.com/infinitered/ignite-ir-boilerplate/releases) yet (cc @GantMan). We'll try to get those published.

[2017-07-18 04:52] #110 closed

[2017-07-26 15:10] ststaynov opened #114 "LoginScreen.js file missing"
I guess this is not relative to the newest version of the Boilerplate since a LoginScreen.js file doesn't exist. Is it moved somewhere else or you just totally removed it?

[2017-07-26 17:47] GantMan commented on #114
@derekgreenberg - can you elaborate and update this one.

[2017-08-02 21:31] harrisrobin opened #116 "[Discussion] Feature based architecture + Styled-Components"
Hello!

First off, used this boilerplate for a handful of projects and I am loving it. One thing though, I often find myself re-factoring the boilerplate a bit to work with a more feature based architecture that looks more like this:

Components
 -- {ComponentName}
    -- {ComponentName}.component.js
    -- {ComponentName}.redux.js

etc..

what are your thoughts on this? Wanted to get an idea befo

[2017-08-07 12:00] skellock opened #119 "Enzyme 3.0 Baby -- Let's Get This Back!"
~Once #118 lands let’s delete all traces of `enzyme`.~

Oh snap!  Hold your horses!  Looks like Enzyme 3 is here now that React 16 landed.  Let's do some research and bring it back.

[2017-08-07 12:21] skellock opened #120 "The fate of git hooks lies with you, champion."
Some action to take from this [issue](https://github.com/infinitered/ignite/issues/1122).

* @jamonholmgren wants hooks gone.
* @skellock wants this to be lint-on-commit & test-on-push + `lint-staged`.
* @ckeeney wants CI to handle this.
* Not clear on what @gantman wants but he I know he votes this to be a plug-in.

There’s probably more opinions out there too.

A reasonable first step be to hide

[2017-08-07 20:10] tmaly1980 commented on #38
@derekgreenberg , any plans for a saga that simplifies/wraps navigate() and reset() ? I honestly find the resetting process (having to declare a nested data structure) really tedious compared to just passing a screen name (ie a string) to reset TO. It should be as simple as:

dispatch(NavigatorActions.reset('HomeScreen'))

But sadly it's much more complicated. This alone was enough reason for me t

[2017-08-10 06:32] jamonholmgren commented on #120
![objection](https://media.tenor.com/images/8b55fb889c9bf29342a8797219a318b6/tenor.gif)

FWIW I like to run linting in VS Code and tests manually + in CI. (Hint: FWIW -- it's worth very little here)

[2017-08-10 18:03] derekgreenberg commented on #38
@tmaly1980 - I feel your pain. I have the exact same scenario in a project I'm working on, where I need to dispatch a reset navigation action from a container. I agree that the amount of code required to do something that seems simple, such as resetting the stack while navigating to a route, is absurdly complicated.

Within my navigation reducer, I have a 1-liner utility function called fullResetT

[2017-08-11 06:37] jamonholmgren commented on #116
@harrisrobin I'm very sorry about the slow response time here! Glad you're liking our boilerplate!

I really like co-locating things like you've done.

We're currently working on a new file structure experiment. @skellock is driving that experiment forward in his latest project. I think it has similar characteristics to what you're proposing, although we haven't done a retrospective on the project

[2017-08-11 12:35] skellock commented on #116
### structure

It feels much better grouping like this. Especially as the project grows.

I’ve landed on a new project organization that I’m loving. I gave the team an early preview a month or so ago.

@leonskim and I are wrapping up a 2 month client project with this new structure now.

### styling libraries

`styled-components` and those types of libs are pretty good. I’ve tried most of them. I’

[2017-08-11 21:10] ststaynov commented on #114
@derekgreenberg will be very appreciated if you do!

[2017-08-14 14:26] derekgreenberg commented on #114
@ststaynov The login screen example has been moved to this repo: https://github.com/infinitered/ignite-example-login . It's a WIP that awaits refactoring to improve and simplify the example code, plus a README that provides a walk-through of how the login screen works with react-nativation. But the login screen, reducer and saga can all be found in that repo.

[2017-08-14 15:28] ststaynov commented on #114
Thanks for the reply! Cheers :)

[2017-08-14 15:28] #114 closed

[2017-08-20 18:50] HelloEdit commented on #83
One of the best solutions in the long term is to work with [Yarn](https://yarnpkg.com/lang/en/docs/install/).
Theoretically, the problem should no longer occur 😄

[2017-08-23 02:32] inturbidus opened #127 "Storybooks missing from new project"
I created a new project without any plugins and it's missing storybook files mentioned in README.MD.  Is there something I need to do to have these included?

[2017-08-23 11:29] skellock commented on #127
It’s in master but needs to be released. Should be shortly.

[2017-08-26 21:16] Amurmurmur opened #128 "react-router-navigation or react-native-navigation"
First of all thank you so much for such a nice boilerplate setup!!!

Was wondering if there is an upcoming change in navigation ?
Do you plan to maybe have another branch with different navigations and templates for rendering screen for each type of navigation?

[2017-08-27 17:32] GantMan commented on #128
Hiya!

So right now our prescribed version is `react-navigation` but there's always the possibility of switching as one navigation system dominates the Mobile domain.

I know react-router-navigation is very popular on web.  One thing I recommend, that if you're looking to switch navigation systems, is consider making a plugin that swaps the navigations out.  For now, and for simplicity we simply s

[2017-08-27 18:36] GantMan opened #129 "Uselss lib needs to come out"
https://github.com/infinitered/ignite-ir-boilerplate/blob/master/boilerplate/package.json.ejs#L32

We no longer use drawer this way with React Navigation in place now.

Remove lib

[2017-08-29 22:55] Amurmurmur commented on #128
@GantMan
Ok got it sweet, thank you so much for such a quick feedback!!

[2017-08-29 22:55] #128 closed

[2017-09-02 00:54] Amurmurmur opened #134 "Upgrade"
How to properly upgrade to 2.1.0 with all the changes currently setup project based on a previous version of this awesome boilerplate 2.0.1

I've setup a project via ignite cli

[2017-09-02 04:13] jamonholmgren commented on #134
Hey @Amurmurmur , one way to do this is to generate a new boilerplate based on 2.1 and then copy over all the relevant files. Thanks for the kind words, by the way!

[2017-09-03 16:59] #134 closed

[2017-09-03 16:59] GantMan opened #135 "SectionLists as a set of flatlists?"
https://github.com/facebook/react-native/issues/13192

Is this how multicolumn sectionlists should render???

[2017-09-03 20:04] Amurmurmur opened #137 "nodeHandle?nodeHandle:nodeHandle.getHostNode()"
When running `yarn run test`
The following exception gets thrown:

[code]
Thats for the fresh ignite project setup that I did by running:
[code]

ignite doctor output:
[code]

[2017-09-04 18:03] georgevanderson commented on #116
@skellock Just ran across this thread and was considering doing the same re-factor to a feature based approach. When you say "feels much better grouping like _this_" did you mean the original or the feature based architecture. If the latter, do you think you'll be releasing a general overview of the new project organization. Thanks for all the work you've done, ignite is amazing!

[2017-09-09 07:00] ruddell opened #139 "StoriesTest.js fails from missing dependency"
From a fresh minimal app, after #138, all tests pass except StoriesTest.js with:

    ignite new IgniteSampleApp --min
    npm run test
    ...
     FAIL  Tests/StoriesTest.js
      ● Test suite failed to run
    Cannot find module 'react-native-vector-icons/FontAwesome' from 'SearchBar.js'

Running `yarn add react-native-vector-icons` makes the generated tests pass, but I wasn't sure if you wante

[2017-09-10 20:12] GantMan commented on #139
Great catch!

@robinheinze @fvonhoven  and @carlinisaacson - Any interest in taking this simple issue?

[2017-09-11 04:56] Cengkaruk commented on #137
@Amurmurmur Any updates related to this issue?

[2017-09-11 13:02] Amurmurmur commented on #137
@Cengkaruk I just dont run tests for now. It might have to do with `enzyme` not supporting latest react-native builds.
In one of the commits Infinite Red team removed githooks that run tests for now here: https://github.com/infinitered/ignite-ir-boilerplate/commit/be75af94abd91213a1abe31f7f773dc7fb80ae4c

[2017-09-11 21:22] robinheinze commented on #139
I can take it. You want me to just remove the test?

[2017-09-11 21:26] GantMan commented on #139
I'm thinking searchbar should be removed.

Thanks @robinheinze

[2017-09-11 23:31] robinheinze commented on #135
This is how I did a multi-column section list in a recent project. It worked great. Maybe I should blog about it.

[2017-09-12 03:54] Cengkaruk commented on #137
@Amurmurmur Okay, thanks for your information.

[2017-09-14 19:52] #139 closed

[2017-09-16 20:35] ruddell commented on #137
I'm pretty sure this was failing due to the `autofocus` attribute on the SearchBar.  Since that was removed in 540e6cc9c11138272c734795a1b2dbd15f1e09a4, you (hopefully) shouldn't run into this anymore once there's a new release.

I worked around it in an existing project by removing the `autofocus` attribute.

[2017-09-22 18:11] mobitinker opened #141 "More explanation of redux, rehydration, sagas and reactotron"
Hi, I'm loving the boilerplate but am having trouble groking the startupsaga, rehydration and the integration with reactotron. I think some background description in the documentation would help. It should explain the structure, purpose and interaction of those pieces. I've researched redux and sagas apart from the boilerplate but when I try to follow the code I'm just missing the context I guess.

[2017-09-22 19:30] GantMan commented on #141
Heya!   Good points!  It's always something we're refining.

Our first step is to blog, but I agree we should add some friendly code to docs/intro process.

I'm going to be working on that soon!

So as far as Sagas... here's some great info on that:  https://shift.infinite.red/using-redux-saga-to-simplify-your-growing-react-native-codebase-2b8036f650de

Rehydration: https://shift.infinite.red/ship

[2017-09-22 21:11] mobitinker commented on #141
Thanks so much for the links! I'll check them out.

On Fri, Sep 22, 2017 at 12:30 PM, Gant Laborde <notifications@github.com>
wrote:

--
Mark Murphy, 503-809-1141, LinkedIn <http://www.linkedin.com/in/markkmurphy>

[2017-09-27 00:46] Amurmurmur commented on #119
but how do we do tests than? something else is going to be used as a replacement for enzyme?

[2017-09-27 01:57] skellock commented on #119
enzyme 3 shipped today... as did react 16.  once the fires subside we'll likely end up throwing this back in.   pretty much everyone here loved enzyme.

[2017-09-27 20:06] mobitinker opened #142 "Storybook does not work"
If I create a new project and try "npm run storybook" and browse to http://localhost:7007 I see the storybook app but no stories are listed. I would expect the two button stories, one with text, one with emojis.

On a related note, if I remove the storybook dirs from the project and do this:
npm install --global @storybook/cli
cd [your-app]
getstorybook
yarn run storybook

I get the expected story

[2017-09-28 19:01] mobitinker commented on #142
I'm a noob and just learned why stories must run on device within react-native.  :-)

[2017-09-28 19:01] #142 closed

[2017-09-29 12:56] l1br3 commented on #8
@dodedodo33 How did you get the component connected to the state ?
I successfully avoided the crash with this solution but the state is never reconnected to the components...

[2017-09-29 15:05] GantMan opened #145 "Implement Devtools as a plugin"
Basically implement this PR in plugin form!

https://github.com/infinitered/ignite-ir-boilerplate/pull/144

[2017-09-30 15:24] l1br3 commented on #8
@skellock @jamonholmgren
I finally succeded in deleting the error and get the state kept between HMR but there is an issue with reducers, they totally break the app.
I've opened an issue on RN repo, opened a question on SO and created a reproductible repo.
Will PR when I'll have solution

https://github.com/facebook/react-native/issues/16148
https://stackoverflow.com/questions/46490306/react-nativ

[2017-10-01 08:23] l1br3 commented on #8
@jamonholmgren fixed by https://github.com/infinitered/ignite-ir-boilerplate/pull/146

[2017-10-02 20:09] dodedodo33 commented on #8
@l1br3 Sorry for the delayed response.
I'm currently really occupied with other responsibilities, so unfortunately I have not been able to find time for side quests (projects).
Sorry I couldn't be of any help, but nice to see you have found a solution!

[2017-10-02 21:58] l1br3 commented on #8
@dodedodo33 force to you ! :+1:

[2017-10-04 11:56] madox2 opened #149 "Incorrect (de)serialization of redux store in ImmutablePersistenceTransform"
According to redux-persist `inboundState` is used to serialize and `outboundState` to deserialize redux state. However in `ImmutablePersistenceTransform.js` it is used vice-versa.

[code]

I would also preffer to use oficially documented function `createTransform` to create transform instead of passing plain object literal.

[2017-10-04 12:11] madox2 commented on #149
My fault, usage is correct

[2017-10-04 12:11] #149 closed

[2017-10-04 20:49] #8 closed

[2017-10-09 01:46] jbosse commented on #137
@Cengkaruk is seems that @ruddell is correct that removing line 23 `autoFocus` `/App/Components/SearchBar.js` and lines 399 `autoCorrect={true}`and 522 `autoCorrect={false}` from `/Tests/__snapshots__/StoriesTest.js.snap` will result a green test run.

[2017-10-09 18:45] jacogreyling opened #150 "Trying to use react-native 0.49.3 breaks"
I'm trying to create a new app with the latest stable release of react-native (v 0.49). Whilst the installation / set-up goes through fine, it fails horribly when I run 'react-native run-ios'. I know it's probably not officially supported by ignite but it will be useful. It also makes use of React 16.0.0 which has a number of improvements I would love to use. There also seem to be some peer depend

[2017-10-10 03:36] GantMan commented on #150
Looks like we have some fixes coming in on the next few days.  Look at the current PRs.

We'll be releasing soon as we're sure 0.49.3 is 💯

[2017-10-10 16:13] GantMan opened #152 "Test and Release new version supporting 49.3"
Looks like everything is good.  Need someone at IR to verify master works perfectly and release.

[2017-10-11 19:39] ryanlntn commented on #145
@GantMan Implemented as a plugin here: https://github.com/infinitered/ignite-redux-devtools
Published to npm here: https://www.npmjs.com/package/ignite-redux-devtools

[2017-10-12 14:57] GantMan commented on #145
success!

[2017-10-12 14:57] #145 closed

[2017-10-13 14:57] jacogreyling commented on #150
Thank you @GantMan!

I've pulled the latest master and it now seems to work just fine. One thing though, there is still a lot of unresolved dependency issues.

`npm ERR! peer dep missing: react@0.13.x || 0.14.x || ^15.0.0-0 || 15.x, required by enzyme@2.9.1
npm ERR! peer dep missing: react@>=15.2.1 || 16.0.0-alpha.6 || 16.0.0-alpha.12, required by reactotron-react-native@1.12.3
npm ERR! peer dep m

[2017-10-17 00:07] Amurmurmur opened #154 "App/Redux/index.js broken"
Basically current implementation with HOT support, breaks it. Tried to copy implementation from default ignite project that gets generated by the ignite-cli
ignite-ir-boilerplate v2.1.1
RN v0.49.3

Here is an iOS screenshot:
![simulator screen shot - iphone 7 - 2017-10-17 at 01 04 54](https://user-images.githubusercontent.com/8608333/31640613-5d60f542-b2d7-11e7-8b3c-92efc74e12c3.png)

Here is my A

[2017-10-17 00:17] Amurmurmur commented on #154
All sorted, sorry forgot to update CreateStore file with the latest changes from the step 1 of HMR implementation.

[2017-10-17 00:17] #154 closed

[2017-10-17 16:04] #152 closed

[2017-10-27 19:49] nonameolsson opened #159 "Upgrade to latest packages"
A lot of packages are out of date.

- Upgrade to latest versions of all packages
- Make required changes to boilerplate so it works with the latest packages.

I will try to make a PR for this. But someone else is of course welcome to do it also :)

[2017-10-27 21:16] jamonholmgren commented on #159
Good call @nonameolsson, sounds like a plan.

[2017-10-29 16:06] guhungry commented on #150
Need to upgrade enzyme to version 3 to suppkrt react 16 and need to install react 16 adapter (have to config in test setup file)

[2017-10-29 17:10] skellock commented on #150
I agree with @jacogreyling.

In `react-native@0.49.3`, they use `react@16.0.0-beta.5` which is API compatible with `react@16`.  I've tested this on another project.

And although I haven't used enzyme in a while, @guhungry, but that totally makes sense to me.

[2017-10-30 13:40] Jancat opened #162 "Please update 'redux-persist' dependency to v5"
<https://github.com/rt2zz/redux-persist> 'redux-persist' has upgraded to v5 from v4, with some break changes to the boilerplate

[2017-10-30 14:10] karlingen commented on #162
See https://github.com/infinitered/ignite-ir-boilerplate/issues/159

[2017-10-30 14:11] GantMan commented on #159
For redux persist fix here:  https://github.com/infinitered/ignite-redux-persist/blob/master/plugin.js

[2017-10-31 11:16] ascorbic opened #165 "[Discussion] Flow types"
Are there plans to add flow types to the boilerplate. Would pull requests that add them be welcomed?

[2017-10-31 16:21] GantMan commented on #165
We don't use flow internally, we use TypeScript, so though we'd welcome it, we would not maintain it.  As I recall from my flow days earlier this year, that would be an issue, yes?

[2017-10-31 17:14] GantMan commented on #165
We'll be releasing a new boilerplate (we've just been perfecting it) which will ship with TypeScript.  No specific timeline on that, but we created the repo internally last week.

This boilerplate is known as Andross, the next one will be codenamed, Bowser.   We're not sure what our planned IR support will be for previous boilerplates, but I imagine typescript might not be for everyone.

Evolving

[2017-10-31 17:24] ascorbic commented on #165
Oh, ok! So we cant expect to see Bowser for a few months though? I think if you're planning a move to TS anyway, I'll best maintain my own typed fork rather than trying to maintain Flow types upstream. Just need to decide whether my fork will be TS or Flow...

[2017-10-31 18:37] GantMan commented on #165
As someone who used Flow 8 months ago it was pretty lame.  I hear there are lots of great upgrades now.  But I'm a typescript fan now.   Typescript is supported 1st rate in React Native and Jest, so no reason to shy away.

1 vote for TS 🎟

[2017-11-01 07:07] ascorbic commented on #165
That's certainly my experience, though flow does seem to have improved a lot. The only reason I'd prefer flow for this is because of how it's the react default. I'd also prefer to not diverge too much from the maintained boilerplate. Learning that you plan to move to typescript does change the calculation there a little.

[2017-11-01 13:57] GantMan commented on #165
TypeScript keeps getting better, regardless of RN.  In all fairness they both are great, but TS is going to live longer, I believe.   Facebook is moving to Reason ML... which sounds to me like they will abandon Flow at some point.

[2017-11-01 15:58] ascorbic commented on #165
Incidentally, you may be interested in https://github.com/aerian-studios/ignite-typescript-boilerplate/blob/develop/boilerplate/types/reduxsauce/index.d.ts if you don't already have an internal TS version

[2017-11-02 02:34] dhanala89 commented on #77
How do i persist specific properties of the reducer? For example I have a login reducer which has properties such as username, password, employee_number. In this case I want to persist just the employee_number and not the username and password. Is this possible? If yes then can you please post an example?

[2017-11-02 14:09] GantMan commented on #77
If you only want to persist certain parts I suggest 2 methods.

1 - Move just those parts to a separate reducer that is rehydrated.
2 - Store them yourself with [Async storage](https://facebook.github.io/react-native/docs/asyncstorage.html)
^ plenty of examples of that in the docs, and it comes free with RN

[2017-11-13 03:04] #127 closed

[2017-11-16 22:54] mcxsic opened #169 "jest "testMatch" not working properly"
Hi!
I came across an issue and I think that is related to the boilerplate. I'm using [Ignite](https://github.com/infinitered/ignite) to crate my React Native app, and I'm using this boilerplate. Right now, and once the boilerplate is created, if I run `npm test` or `npm run test`, it calls jest, but it starts reading all the JS files, not only the tests that are in the `<root>/Tests` folder. Since

[2017-11-17 00:42] jamonholmgren commented on #169
Hey @mcxsic , thanks for using Ignite! I spun up a new boilerplate and all my tests pass. 🤔

Are you running `npm test` in your root folder?

[2017-11-17 00:43] jamonholmgren commented on #169
Also, what is the result of `ignite doctor` ?

[2017-11-17 01:59] mcxsic commented on #169
hi @jamonholmgren! Yes, I'm running it in the root folder of the project. This is my information:
[code]

[2017-11-20 06:26] jamonholmgren commented on #169
Does it happen if you upgrade to node 8.9.1 and/or yarn 1.3.2?

[2017-11-20 19:18] mcxsic commented on #169
I updated node to 9.2.0  (yarn was already 1.3.2), I created a fresh boilerplate with `ignite new igniteTest` but `npm test` is still not working :(

[2017-11-21 04:50] jamonholmgren commented on #169
Hm, I'm having trouble recreating.

![image](https://user-images.githubusercontent.com/1479215/33055414-61cc7264-ce34-11e7-9b70-04d174951990.png)

@GantMan @skellock Any ideas?

[2017-11-21 20:35] jamonholmgren commented on #169
What options are you selecting when you do `ignite new` ?

[2017-11-21 20:56] mcxsic commented on #169
I tried selecting all of them (`react-native-vector-icons`,  `react-native-i18n` and `react-native-animatable`) and none of them, using `ignite-ir-boilerplate`, and I had the same result.

[2017-11-21 21:35] mcxsic commented on #169
Ok I figured out what was the issue! it turns out that I always put my code tests inside the `~/Documents/Tests` folder and with the current "testMatch" is matching that folder. That means that if I do:

[code]
it doesn't work but if the folder is outside the `Tests` folder:

[code]
Then it works. As far as I understand the the boilerplate should only look for tests inside the folder where we are

[2017-11-21 21:48] jamonholmgren commented on #169
Interesting! As long as it continues to work with "Normal" setups I don't mind that change. PR? :)

[2017-11-21 22:08] mcxsic commented on #169
yep! :)

[2017-11-21 22:56] mcxsic commented on #169
pull request here: #171

[2017-11-21 23:06] #169 closed

[2017-12-03 15:04] #129 closed

[2017-12-03 15:04] #150 closed

[2017-12-03 15:04] #159 closed

[2017-12-03 18:58] Amurmurmur commented on #162
@GantMan Could you please check the pull request ? 👍 https://github.com/infinitered/ignite-redux-persist/pull/5
Hopefully guys at InfiniteRed can merge it as soon as possible 👍
Thank you once again guys and the whole community, for such an awesome work done on this boilerplate 👍

[2017-12-05 07:10] jamonholmgren commented on #162
Hey all, thanks for your patience! Several of us are out of town but will try to look at this as soon as we can.

[2017-12-05 16:46] GantMan commented on #162
Bringing in @ryanlntn - who can hopefully help out while I'm unavail.

[2017-12-05 18:58] ryanlntn commented on #162
Looking into this.

[2017-12-06 00:19] cihadturhan opened #173 "Doesn't work well with Reactotron — restoring redux snapshots throws error"
First of all, thanks for providing such a great boilerplate. I couldn't decide if I open this issue here, reactotron or reactotron-redux.

I can successfully create redux snapshots on reactotron. However, I have the following error on the screen:
[code]
I dig into the reactotron code and realized it's because of `react-navigation` doesn't use immuatable.js
Before restoring snapshot:
[code]
After r

[2017-12-06 01:24] cihadturhan commented on #173
Yeah, I saw reactotron is highly configurable and didn't miss the opportunity to hack

**If you want to make reactotron snapshots work with this boilerplate**, make the following change in `ReactotronConfig.js`
[code]

It's somewhat hack so I believe there could be a better solution, so I won't open a PR but let me know if it's accepteble anyway.

[2017-12-11 11:37] wisn opened #177 "Update React Native version on the README"
It seems the latest version of React Native that used by the boilerplate is `0.50.4` but on the README is `0.47.2`.

[2017-12-12 22:33] #177 closed

[2017-12-13 17:03] pherm commented on #38
@derekgreenberg, I have lost a lot of time to understand 'props. navigation' in ignite 2. Why haven't you written anything in the documentation??

[2017-12-13 19:07] derekgreenberg commented on #38
@pherm

That is a fair question. Why doesn't the readme.md file explicitly call out the fact that the Ignite 2 boilerplate help users understand how navigation was implemented?

The documentation (https://github.com/infinitered/ignite-ir-boilerplate/blob/master/readme.md) has a Navigation section that does not explicitly inform users that the boilerplate uses react-navigation. If you don't know th

[2017-12-13 19:21] pherm commented on #38
@derekgreenberg yeah, thank you! good documentation is the basis for understanding

[2017-12-13 19:23] tmaly1980 commented on #38
@derekgreenberg Can you provide an example of the fullResetTo utility function?

[2017-12-13 20:01] derekgreenberg commented on #38
@tmaly1980 here you go:

[code]

later in export function reducer, where we reference calls to `fullResetTo()`:

[code]

[2017-12-23 17:12] Slapbox opened #179 "Missing android SDK 23"
I'm on Windows 7 x64 and having difficulty getting past this step. I've followed every guide I could find whether linked here or on Facebook's official documentation, but no luck at all.

I've tried `Android Build Tools 23.0.1` and `23.0.3`, as well as later versions, but no luck with any options. I also tried ensuring that I only had one version of the build tools installed at a time and tried wi

[2017-12-24 16:23] Amurmurmur opened #180 "Relay support"
Hey guys any plans on React-Relay support or if any plans on moving towards relay way of client side data handling?

[2017-12-26 15:35] kiang commented on #41
Met the same problem as following the same video guide. Maybe is should be noted somewhere.

[2018-01-05 06:31] soetedja opened #181 "ignite-ir-boilerplate is not available on npm"
I've installed the ignite-cli but when i try to create a new project, i get this error
🔥 igniting app MyNewAppName
× ignite-ir-boilerplate is not available on npm.

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  We also searched in these directories:

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

Is there something I missed?

here's the output of ignite do

[2018-01-25 04:25] nsalontay commented on #135
@robinheinze Do you have a sample you can share? I've been trying to adapt from that post, but no luck.

[2018-01-25 17:29] robinheinze commented on #135
Hey @nsalontay! Yep, here's my example https://gist.github.com/robinheinze/19c4500b22a0c01d359f560d17612258. Hopefully it helps!

This is what is should render:
![simulator screen shot - iphone 8 plus - 2018-01-25 at 09 21 36](https://user-images.githubusercontent.com/6894653/35402690-33fdea46-01b2-11e8-9002-39b0bda9ee1f.png)

[2018-01-27 19:07] hagaigold commented on #135
[code]

the SectionList style boilerplate have a "risky"  implementation as [point ](https://github.com/facebook/react-native/issues/13939#issuecomment-355700533) in facebook/react-native#13939

[2018-02-03 10:52] 2f-concept opened #184 "TypeError: addListener is not a function"
Hi and thanks for this project !

I got this error just after creating a new project with command :
ignit new projectname --max
cd projectname
react-native run-android

transpile goes well but after application start i got this :

TypeError: addListener is not a function

This error is located at:
    in CardStack (at CardStackTransitioner.js:66)
    in RCTView (at View.js:113)
    in View (at Tra

[2018-02-05 14:56] Amurmurmur commented on #184
@2f-concept This error happens due to react-navigation 1.0.28+ changed the api slightly.
I've made https://github.com/infinitered/ignite-ir-boilerplate/pull/185 to support the change.

Hopefully guys from infinitered will approve as soon as they can get their hands on it. 👍

[2018-02-10 14:05] adam-s commented on #181
Just run ignite without boilerplate name. It defaults to this one.

[2018-02-12 20:45] pribeh commented on #181
The above doesn't work for me.

ignite doctor
System
  platform           darwin
  arch               x64
  cpu                - cores                         ----
  directory          /Users/name/Sites/projectname

JavaScript
  node               8.9.1        /usr/local/bin/node
  npm                5.6.0        /usr/local/bin/npm
  yarn               1.3.2        /usr/local/bin/yarn

React Nativ

[2018-02-14 15:40] leonardo2204 commented on #179
@Slapbox You probably don't have the build tools installed in your machine. Try opening the project from Android Studio (the android folder). It should prompt you to install the build tools, thus making this problem go away.

[2018-02-14 17:06] silasjmatson commented on #184
This should be resolved in #185

[2018-02-14 17:06] #184 closed

[2018-02-18 23:03] juddey opened #189 "Flatlist view does not retain user entered name"
[code]

[2018-03-07 21:43] ejbp opened #192 "Redux-persist not persisting combined reducers"
Redux-persist is persisting all reducers states except one, that is a combinedReducer.

Here is the code (or at least part of it):

**store index.js**
[code]

**reducers/index.js**
[code]

**reducers/user/index.js**
This is the state.user reducer that is being persisted, so all OK!
[code]

**reducers/ui/index.js**
This is the state.ui reducer that is not being persisted. Not ok!!!!!
[code]

**redu

[2018-03-07 21:45] ejbp commented on #192
WRONG REPO. Sorry :)

[2018-03-07 21:45] #192 closed

[2018-03-28 21:45] juddey opened #194 "bowser + react-native-keychain"
Hey, I was just looking through the pre-release candidate for bowser and saw `react-native-keychain` added as a dependency. Is this is needed for every project?

I wrote an ignite plugin for react-native-keychain and I wondered how this might fit in to the new boilerplate (if at all).

[2018-03-29 15:02] GantMan commented on #194
I think the first release might have it, and then maybe you and I work together to move it off to your plugin, which will detect Bowser vs Andross, and then add accordingly.

But version 1 of bowser will likely just show up with it in hand.  Once Bowser is out, let's chat in the slack on how to move forward.  👍 ?

Also, most apps need keychain anyways right?

[2018-03-31 01:52] juddey commented on #194
I'd imagine anything with authentication would. Others, not so much.

Sounds good! I'll make a note to ping you later if I haven't heard anything. It just works ™️ with Andross so its just a matter of sorting bowser.

[2018-04-04 21:35] kevinvangelder opened #196 "Provide way to clear Navigation Store"
Changing keys in the navigation causes a redbox error because the NavigationStore expects the old key to be present.

[2018-04-04 21:37] kevinvangelder opened #197 "Provide method to open Storyboard Mode without changing code"
Currently, the user has to change a boolean in the code to enable/disable Storyboard Mode. This is painful user experience and likely to cause many a revert-commit.

[2018-04-05 07:37] AlirezaAkbarix opened #198 "[Improvement] Native styles"
I used to use ignite-v2 and now exploring on this amazing boilerplate and check new nice changes.
A thing that is so exciting for me is using preset widgets (`Button`, `Text`, ...), if you use native style e.g on `button` class it'll seem more awesome!
now for Android we haven't ripple effect and it behaves like iOS.
I'm sure you guys are perfect in react-native but for instance [THIS](https://med

[2018-04-05 10:11] darrenchiu opened #199 "SwitchNavigator in react-navigation"
Not sure if anyone raised this before. But it seems that the react-navigation included in the boilerplate is so old that it doesn't contain SwitchNavigator. What's the reason of keeping an old version of react-navigation and any suggestion for a replacement of SwitchNavigator?

Thanks a lot!

[2018-04-05 10:35] AlirezaAkbarix opened #200 "Old React-Navigation package"
I've filed an issue on ignite-v2 ([This](https://github.com/infinitered/ignite/issues/1239)) about it and @GantMan said the future version (Bowser) fixes this problem. now I can see that `react-native` version is almost the latest version, but `react-navigation` version is still `1.0.0-alpha`!

[2018-04-09 02:27] darrenchiu commented on #200
this is related to #199

[2018-04-13 11:13] ibrahim-lahribli opened #201 "TypeError : undefined is not a function (evaluating 'addListener') thanks for the help"
Hi guys i just start working with this boilerplate so i had lunched the ignite new MyLatestCreation command after that when im trying to run the application on android emulator, i'm getting this error on the screen of the emulator.

![capture](https://user-images.githubusercontent.com/19494141/38731846-e4c3c730-3f13-11e8-8292-211f1ff35b82.PNG)

please some help here guys,im just start working with

[2018-04-14 07:52] tristola commented on #201
I had the same issue when generating the boilerplate without the development screens, try to create one with them, it should work.

[2018-04-15 14:30] ibrahim-lahribli commented on #201
@tristola  Thanks lot man for your response.
yes you are right, i made this changes and it works you save me a lot of time thanks.

[2018-04-15 14:30] #201 closed

[2018-04-18 06:39] ccfiel opened #203 "Error: While resolving module `react-native-vector-icons/FontAwesome`"
[code]

[2018-04-18 15:09] ruddell commented on #203
It sounds like you're experiencing this issue https://github.com/oblador/react-native-vector-icons/issues/626.  You can work around it (I had success with the postinstall workaround) or upgrade React Native to a newer version which has the fix (I'm guessing v0.54.x+).

[code]

[2018-04-19 14:49] ruddell commented on #203
This is now fixed in master thanks to the React Native upgrade in #195

[2018-04-23 09:15] chawax opened #206 "What is the proper way to set auth headers in api ?"
I need to set authentication tokens in headers on api calls but the tokens are not known at the time the api is created : they are stored in the Redux store after the user was logged. So I need to retrieve them from the store on any api calls. I could retrieve them in sagas and pass them as parameter for api calls.

In saga :
[code]

In api :
[code]

But it means I have to do it in every saga.

I

[2018-04-23 13:16] yordis commented on #206
What are you using for do the API calls?

What must people do is to add a hook in API call library that setup the headers as you are doing right now.

[2018-04-23 13:25] chawax commented on #206
I use apisauce.

I found a solution storing tokens in api and using `addResponseTransform` and `addRequestTransform`. It means the auth tokens are not in Redux store, but it could make sense if you can consider the auth tokens are part of api implementation.

[code]

[2018-04-23 14:42] ruddell commented on #206
I added the following methods into in my Api.js file for configuring the auth header:
[code]

https://github.com/ruddell/ignite-jhipster/blob/master/boilerplate/App/Services/Api.js.ejs#L51-L52

[2018-04-28 16:08] Amurmurmur commented on #206
@chawax
I personally do a setHeader inside the Api.js in every api endpoint call.
like so:
[code]
That way you just select the token from the Store/Offline cache with a selector, inside your saga and pass it to the api function along with the data you want to submit to your backend.

[2018-04-28 16:09] Amurmurmur commented on #180
Ok I think its been a while and I didnt get my answer back, which makes me realise its better not to leave the trash in the issues and just close this issue.

[2018-04-28 16:09] #180 closed

[2018-04-29 00:54] GantMan commented on #180
Sorry. Weve been busy. Currently more apollo codethan relay.  We will see.

[2018-04-29 21:01] chawax commented on #206
So it means you have to do it in any saga that calls the api. And that's what I wanted to avoid.

[2018-04-29 21:29] Amurmurmur commented on #206
@chawax You normally would use Sagas for the api calls.

If you want to directly call the api from the component you can do something like:
[code]

[2018-04-30 03:09] xgenvn commented on #206
In my recent implementations, I didn't try to use the token in the store but from AsyncStorage, or Secure Store instead. I wrapped API calls as a client SDK, and then I can have only one API instance in root store/global.

[2018-04-30 19:44] jamonholmgren commented on #180
@Amurmurmur Sorry about the lack of response on this issue. Most of our team has been working on client projects or our new [Bowser](https://github.com/infinitered/ignite-ir-boilerplate-bowser) boilerplate, so that's probably how we missed it.

We really like Apollo and will probably be experimenting with that in projects. Technologies that perform well in our client projects then get introduced i

[2018-04-30 21:29] Amurmurmur commented on #180
@GantMan @jamonholmgren
Thank you so much guys for getting back to me.
Yeah the new boilerplate is a nice peace of work! Ill definitely check it out!

Will wait on your Apollo feed back once you decide to go for it 👍

[2018-05-17 20:40] ryanlntn commented on #120
Since there were no objections I'm going to make git hooks optional and update the behavior to lint on commit and test on push + lint-staged.

[2018-05-18 16:32] jamonholmgren commented on #120
I'm not super worried about this, so don't take my opinion too seriously.

[2018-05-18 16:44] yordis commented on #120
In my personal experience, I really dislike when people put the linter on commit or push.

When you want to get things done, specially when you are newbie to how the company works and the standards) is really annoying to have the linter rejecting you from commit or push.

Now,

This happens to me because I would normally create my own branches, by so, I will make sure before it gets into the `mast

[2018-05-18 18:59] skellock commented on #120
Ya, coming back to this ticket nearly 9 months later...  I'm with @yordis and @ckeeney on this.

Lint-on-stage is a problem for staging parts of a file.

And test-on-commit is a problem for commiting the small changes while still wip'ing other things.

🤷‍♂️ 🤷‍♀️ 🤷‍♂️ 🤷‍♀️ 🤷‍♂️ 🤷‍♀️ 🤷‍♂️ 🤷‍♀️ 🤷‍♂️ 🤷‍♀️ 🤷‍♂️ 🤷‍♀️

[2018-05-18 20:33] ryanlntn commented on #120
@skellock So you're on team no hooks now too? If so I'll just axe them.

[2018-05-18 21:16] skellock commented on #120
I think so ya. I know of 4 projects in the last year we’ve done where someone has said, “what’s going on here”?

Can we replace it with a prompt that says: do you promise to install CI (Y/n)?

[2018-05-18 22:11] jamonholmgren commented on #120
Next time @skellock and I disagree I'll just snooze an issue for 9 months and ask again. ;-)

[2018-05-24 18:16] #120 closed

[2018-06-11 13:16] jetonk opened #211 "Cannot create project with Ignite"
I try to create a project with Ignite, I'm getting these errors.

I'm using MacBook - macOS Sierra 10.13.5
NodeJS version: v8.9.4

----------
✖ ignite-ir-boilerplate-andross was not able to be installed. Is it a valid NPM module?
----------
Command failed: yarn add ignite-ir-boilerplate-andross --dev
warning enzyme > rst-selector-parser > nearley > nomnom@1.6.2: Package no longer supported. Contac

[2018-06-11 14:33] skellock commented on #211
Wierd.  I just released `2.0.0-beta.6` of reactotron.  let me see what's up ehre.

[2018-06-11 14:55] skellock commented on #211
Ok, this was my fault.

Today, `lerna publish` didn't work.  It didn't publish everything.  It only published `reactotron-redux`.

I'm not quite sure what happened, but I just published all the dependencies manually.

Give that another shot and lemme know if it's still busted.

[2018-06-11 23:27] antoinebourlart opened #212 "Undefined is not a function reactNavigation.addNavigationHelpers"
I'm using this boilerplate and the following code obtains this error :
[code]

![capture d ecran 2018-06-12 a 01 26 05](https://user-images.githubusercontent.com/12496232/41262172-9b414646-6ddf-11e8-8f0d-970d28e2e994.png)

[2018-06-12 13:41] jetonk commented on #211
Now I created the app, these errors do not appear.

[2018-06-12 16:06] skellock commented on #211
Great, sorry about that.  I shouldn't be allowed near computers.

[2018-06-12 16:06] #211 closed

[2018-06-13 06:30] mykelaballe opened #213 "Can I just clone?"
Hello! currently I cant seem to generate a whole ignite project using the `ignite new` command. Can I just clone the boilerplate?

[2018-06-13 13:15] skellock commented on #213
`ignite new` performs important unpacking and setup steps.

Can you share some details of the error you're seeing?

[2018-06-13 14:36] mykelaballe commented on #213
I submitted an issue here https://github.com/infinitered/ignite/issues/1286. Its basically the same issue. the `ignite new` command does not generate project files, only empty folder and it seems nobody here knows the solution

[2018-06-13 14:42] GantMan commented on #213
The boilerplate folder is the basics.  Just cloning  and copying those files over with renaming .ejs files should work.  It's far more manual that using the CLI though :(

@kevinvangelder - is our resident windows Guru

[2018-06-13 15:34] mykelaballe commented on #213
@GantMan  thanks for the response. so you mean I can just rename .ejs files to .js?

![image](https://user-images.githubusercontent.com/22584900/41361696-44369f5c-6f62-11e8-85e5-faba9855ded9.png)

[2018-06-13 15:37] mykelaballe commented on #213
is it possible you can send me a boilerplate with redux + react-navigation running a recent version of react-native?

[2018-06-13 15:41] mykelaballe commented on #213
this is the boilerplate i'm using:

![image](https://user-images.githubusercontent.com/22584900/41362127-3065db5e-6f63-11e8-9780-844822c8cf2f.png)

![image](https://user-images.githubusercontent.com/22584900/41362173-4811e5fe-6f63-11e8-9e02-09e0f1fafb5b.png)

[2018-06-13 15:49] GantMan commented on #213
rename the files, and you'll possibly need to remove any embedded JS as well.  Where we would inject the project name etc.

[2018-06-13 17:00] mykelaballe commented on #213
why the Andross boilerplate https://github.com/infinitered/ignite-ir-boilerplate-andross doesnt have react-native in the dependencies?

![image](https://user-images.githubusercontent.com/22584900/41366314-44ce62b8-6f6e-11e8-9267-7a168ca23a96.png)

[2018-06-13 21:12] GantMan commented on #213
you'd add these items to a living react-native project.  The CLI does a `react-native init` and then merges these libs.

[2018-06-13 23:03] mykelaballe commented on #213
i got it working already. now I just need to add a drawer from DrawerNavigator

[2018-06-13 23:06] #213 closed

[2018-06-18 18:08] technoplato opened #269 "ignite generate listview ScreenName generates class named 'View' which causes collisions with ReactNative.View"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2018-06-21 11:48] thanhdevapp commented on #212
same problem

[2018-07-14 14:48] fuxianwei opened #215 "This template is great, but some library versions are low, so upgrade the dependency library, such as react-navigt-navigation-redux-helpers@2.0"
This template is great, but some library versions are low, so upgrade the dependency library, such as react-navigt-navigation-redux-helpers@2.0

[2018-08-15 16:09] jqn opened #216 "Story.js missing module module declration"
The stories included in this boilerplate are causing hot reload to throw the following error:

`Story of "SomeComponent" named "SomeComponentName" already exists`

This can be easily fixed by adding the module declaration to storiesOf like this

[code]

<img width="492" alt="screen shot 2018-08-14 at 9 29 44 pm" src="https://user-images.githubusercontent.com/9710893/44158938-51459d00-a073-11e8-988

[2018-09-04 11:12] jrodriguesimg opened #217 "Add ReduxPersist to an existing boilerplate project"
Hi. Great project! It enabled me to start creating an app without knowing much about mobile development. My inexperience has betrayed me though. I'd never use ReduxPersist and I thought I wouldn't be needing it when generating my project. I regret that decision now and I would want to add it. If some one could spare some of their time, I could use some help setting it up on an existing project.

T

[2018-09-04 16:32] ruddell commented on #217
This generator uses [ignite-redux-persist](https://github.com/infinitered/ignite-redux-persist) to set that up, so you may be able to simply run `ignite add redux-persist@"~>1.0.1`

[2018-09-06 05:10] gatspy opened #218 "how upgrade RN to 0.56"
upgrade RN with `react-native-git-upgrade 0.56.0`
then `react-native run-ios` as follow error:

[code]
package.json modified

[code]

[2018-09-07 02:47] gatspy commented on #218
issue to ignite, [how upgrade RN to 0.56](https://github.com/infinitered/ignite/issues/1313)

[2018-09-07 02:48] #218 closed

[2018-09-08 17:06] jamonholmgren commented on #218
@gatspy Did you get this figured out?

[2018-09-08 17:09] jamonholmgren commented on #217
Thanks for the kind words, @jrodriguesimg! Also, thanks for helping out, @ruddell !

[2018-09-14 22:38] ex7r3me opened #219 "Test generator in README"
In [README.md](https://github.com/infinitered/ignite-ir-boilerplate-andross/blob/master/readme.md) it says by adding for example `"test": "jest"` ignite will generate tests, which should be `"tests":"jest"` (with s) according to for example [this line ](https://github.com/infinitered/ignite-ir-boilerplate-andross/blob/61cb5545fe871c43fe496cf80bd9a36bf5cb0dd3/commands/saga.js#L8)in the saga generat

[2018-09-27 15:07] giangqaz commented on #218
I have same

[2018-09-30 17:16] tonmanayo commented on #215
this would be great

[2018-10-04 11:20] neel96 commented on #206
If we try to token passed in header ....Try this method

[code]

[2018-10-16 21:13] jamonholmgren commented on #206
Does someone want to add some documentation to this effect?

[2018-10-18 03:39] jamonholmgren commented on #215
Just letting you all know this is on our radar. Expect more activity in a couple weeks.

[2018-10-18 04:54] tonmanayo commented on #215
If you're interested I upgraded my boilerplate https://github.com/tonmanayo/react-native-startup

[2018-10-19 11:37] maxto024 commented on #38
For the new guys who face this issue add nav to  config/ReduxPersist.js file blacklist

` blacklist: ['appState', 'search','nav'],`

[2018-10-22 10:42] syedatifgd commented on #212
Have you found any solution for this?

[2018-10-30 15:52] rudsberg opened #222 "Dev Screens not showing/working"
Even though opting in for the Ignite Development Screens they are not included. After adding them with "ignite add dev-screens" it fails with the following error:

error: bundling failed: Error: Unable to resolve module `../../ignite/DevScreens/DevscreensButton.js` from `C:\InnoTact\AndrossType\App\Containers\LaunchScreen.js`: The module `../../ignite/DevScreens/DevscreensButton.js` could not be f

[2018-11-10 14:49] khelil opened #224 "glog-0.3.4 error : 'config.h' file not found"
Hi All,

After creating an app from andross boilerplate, got a glog error : `node_modules/react-native/third-party/glog-0.3.4/src/base/mutex.h:105:10: 'config.h' file not found`

Here what i had to do to make it work :

* Close Xcode.
* cd `node_modules/react-native/third-party/glog-0.3.4`
* Run `./configure`
* Run `make`
* Run `make install`
* Open Xcode and try building the Project.

Then i got

[2018-11-14 14:28] iamacup opened #225 "react-native run-ios not working with latest xcode?"
---
What's going on?

I can't get the boilerplate to run out of the box (Andross)

[code]

react-native run-ios

[code]

Now, when i google around how to fix this CFBundleIdentifier error, there is advice around just building in XCode to fix this, so when i open the xcode project - and try to compile - i get this error:

[code]

Did a bit of googling and there are a couple of ways to fix this - on

[2018-11-14 14:48] jakesyl commented on #224
cd ./node_modules/react-native/third-party/glog-0.3.4 && ../../scripts/ios-configure-glog.sh

[2018-11-14 17:36] kevinvangelder commented on #225
Thanks for reporting. XCode 10 is only known to work with React Native 0.57.5+. Your best course of action will be to upgrade your app's react native version or downgrade XCode. At this point we are no longer actively developing Andross, so it is unlikely we'll be able to update it to use the latest RN, but we'd be more than happy to consider any pull requests.

[2018-11-14 18:04] iamacup commented on #225
Hey, thanks for the quick update!

Would you be willing to update the main ignite CLI readme.md to reflect your comment? Lots of react-native / redux tutorials point to the repo and having this info up front would be a great help for lots of newcommers :)

Cheers for the great tool!

[2018-11-14 18:31] jamonholmgren commented on #225
That's a good idea @iamacup. We'll do that.

[2018-11-14 23:19] jamonholmgren commented on #224
Anyone want to take a stab at upgrading to React Native 0.57.5? It should fix this issue with Xcode 10.

[2018-11-17 11:56] mylifenp opened #226 "r"

[2018-11-19 13:04] darioajr opened #227 "Update React Native version to 57"
Please update compatibility to react native version to last version 57.

[2018-11-19 16:43] jamonholmgren commented on #227
Hey @darioajr! Andross is in its "Community Support" phase, so while we're super happy to test and merge pull requests, Infinite Red won't be updating it ourselves. Want to take a crack at this?

[2018-11-24 23:13] khelil commented on #224
@jamonholmgren i'm in ! Can you give some indications ?
I suppose we need to update Ignite CLI also ?

[2018-11-27 20:42] darioajr commented on #227
my package.json file:
`{
  "name": "MyApp",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "node node_modules/react-native/local-cli/cli.js start",
    "test": "jest",
    "clean": "rimraf $TMPDIR/react-* && watchman watch-del-all && npm cache clean --force",
    "clean:android": "cd android/ && ./gradlew clean && cd .. && react-native run-android",
    "newclear": "rimraf $T

[2018-11-28 01:40] clive107 commented on #227
@darioajr Thanks. I managed to make it works now. My package.json follows the bowser boilerplate (for babel and jest related packages, but I didn't include the jest-preset-ignite). I changed my .babelrc to babel.config.js to make it works.

[2018-12-01 22:53] infinitered-circleci commented on #177
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-ir-boilerplate-andross)
- [GitHub release](https://github.com/infinitered/ignite-ir-boilerplate-andross/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-02 21:58] #226 closed

[2018-12-04 19:11] jamonholmgren commented on #224
@khelil Apologies, I just saw this! Looks like @lvlrSajjad already got upgraded RN version out: https://github.com/infinitered/ignite-ir-boilerplate-andross/pull/228

[2018-12-04 19:11] #224 closed

[2018-12-04 19:11] jamonholmgren commented on #227
Fixed by https://github.com/infinitered/ignite-ir-boilerplate-andross/pull/228

[2018-12-04 19:11] #227 closed

[2018-12-04 19:12] jamonholmgren commented on #225
Fixed by https://github.com/infinitered/ignite-ir-boilerplate-andross/pull/228

[2018-12-04 19:12] #225 closed

[2018-12-04 19:12] jamonholmgren commented on #107
This has been fixed for some time.

[2018-12-04 19:12] #107 closed

[2018-12-04 19:13] #106 closed

[2018-12-04 19:13] jamonholmgren commented on #91
This is a cool idea but we don't plan to add this feature to Andross now that we are working primarily on [Bowser](https://github.com/infinitered/ignite-ir-boilerplate-bowser). Thank you!

[2018-12-04 19:13] #91 closed

[2018-12-04 19:14] jamonholmgren commented on #86
This is a cool idea but we don't plan to add this feature to Andross now that we are working primarily on [Bowser](https://github.com/infinitered/ignite-ir-boilerplate-bowser). Thank you!

[2018-12-04 19:14] #86 closed

[2018-12-04 19:14] #83 closed

[2018-12-04 19:14] #71 closed

[2018-12-04 19:15] jamonholmgren commented on #116
Check out the latest boilerplate, [Bowser](https://github.com/infinitered/ignite-ir-boilerplate-bowser). Thank you!

[2018-12-04 19:15] #116 closed

[2018-12-04 19:15] #135 closed

[2018-12-04 19:16] #141 closed

[2018-12-04 19:16] #119 closed

[2018-12-04 19:17] #162 closed

[2018-12-04 19:17] #165 closed

[2018-12-04 19:19] jamonholmgren commented on #173
@cihadturhan I think that hack is fine in the ReactotronConfig.js file. Would you want to open a PR for it?

[2018-12-04 19:19] jamonholmgren commented on #179
If this is still an issue, please feel free to comment. Thank you!

[2018-12-04 19:19] #179 closed

[2018-12-04 19:20] #181 closed

[2018-12-04 19:21] jamonholmgren commented on #194
@juddey Any updates on this?

[2018-12-04 19:22] jamonholmgren commented on #194
@juddey Bowser does indeed ship with `react-native-keychain`. Any further thoughts at this point?

[2018-12-04 19:22] #194 closed

[2018-12-04 19:22] #197 closed

[2018-12-04 19:23] jamonholmgren commented on #198
Thanks for the kind words @AlirezaAkbarix !

[2018-12-04 19:23] #198 closed

[2018-12-04 19:43] jamonholmgren commented on #199
We're updated to React Navigation 3.0 now. Thanks!

https://github.com/infinitered/ignite-ir-boilerplate-andross/blob/923235692e5fb51a8e55e178e690b26793c214bb/boilerplate.js#L182

[2018-12-04 19:43] #199 closed

[2018-12-04 19:43] jamonholmgren commented on #200
Upgraded: https://github.com/infinitered/ignite-ir-boilerplate-andross/blob/923235692e5fb51a8e55e178e690b26793c214bb/boilerplate.js#L182

Thanks!

[2018-12-04 19:43] #200 closed

[2018-12-04 19:43] #203 closed

[2018-12-04 19:43] #206 closed

[2018-12-04 19:49] jamonholmgren commented on #212
Can you try with the latest version (2.4.0) and see if it still happens?

[2018-12-04 19:50] jamonholmgren commented on #215
2.4.0 has upgraded dependencies, thank you!

[2018-12-04 19:50] #215 closed

[2018-12-04 19:50] jamonholmgren commented on #215
@tonmanayo You should think about making that into an Ignite boilerplate. It's not difficult, and it would bring all the Ignite benefits. :)

[2018-12-04 19:51] jamonholmgren commented on #216
Is this still happening with 2.4.0?

[2018-12-04 19:52] jamonholmgren commented on #219
Would you mind updating it, @ex7r3me ? Thanks for reporting!

[2018-12-04 19:53] jamonholmgren commented on #222
@rudsberg Can you try with 2.4.0?

[2018-12-04 20:08] juddey commented on #194
Are you thinking  `keychain` will be included in cyberdemon by default?

[2018-12-04 23:58] jqn commented on #216
@jamonholmgren I haven't tried the new version. Let me take a look and will report back

[2018-12-05 08:44] tonmanayo commented on #215
@jamonholmgren I'll have to update it again as we don't need to add react-navigation into redux anymore as of react-navigation v3

[2018-12-06 18:40] jqn commented on #222
@jamonholmgren I just tried version 2.4.0 and indeed the dev screens are directory is missing.

[2018-12-06 18:51] jqn commented on #216
@jamonholmgren I tried testing the new version but I can't even run storybook.
This is the error I'm getting
`ERROR in ./storybook/addons.js
Module build failed: Error: Couldn't find preset "module:metro-react-native-babel-preset" relative to directory "/Users/jqn/apps/PizzaAppDec/storybook"`

[2018-12-09 05:08] jafri commented on #222
still an issue

[2018-12-11 03:37] lvlrSajjad commented on #222
@jafri @jqn did you tried installing the boilerplate on a drive other than C ? if you can plz try and tell me the result

[2018-12-11 03:38] jafri commented on #222
On MacOS, the problem is LaunchScreen imports a dev screen button, removing that makes the app work.

[2018-12-11 03:39] lvlrSajjad commented on #222
@jafri Thanks i will check that is there other issue as well ? other than this import

[2018-12-12 00:07] jafri commented on #222
Edit the launchScreen file

[2018-12-12 19:13] ystoneman commented on #222
I solved this "ignite add dev-screens" error by deleting the entire directory for this app, and starting over with the following command: `ignite new AppName --boilerplate andross --max`
... instead of `ignite new AppName` or `ignite new AppName -b ir-next` as I had tried before.

[2018-12-12 21:06] jamonholmgren commented on #222
@ystoneman Where are you seeing the `ir-next` thing? I want to erase that from our docs.

[2018-12-12 21:18] ystoneman commented on #222
@jamonholmgren I saw it on Infinte Red's YouTube channel's video on "[Building a React Native App in Under 15 Minutes](https://youtu.be/lv00UOXxy0g)."

[2018-12-12 21:19] jamonholmgren commented on #222
I guess we need a new YouTube video!

[2018-12-18 17:47] #222 closed

[2018-12-26 07:58] hemel-cse commented on #216
I am getting the error too.
ERROR in ./storybook/addons.js Module build failed: Error: Couldn't find preset "module:metro-react-native-babel-preset" relative to directory

[2018-12-26 19:15] jamonholmgren commented on #216
Thanks for reporting! Would someone want to submit a PR to fix this? We are focused on Bowser now and not dedicating quite as much time to Andross.

[2019-01-08 09:37] HunWalk opened #240 "StartupRedux should be in reducers in Redux/index.js"
Hey.
I've recently discovered that StartupRedux is not in the default reducers at App/Redux/index.js
Why is it so? :D

Today i've extended the startupSaga and the startupRedux but after a yield put(StartupActions.startupAction(someData)) nothing happened. Not even a single error.

[2019-01-15 01:36] jamonholmgren commented on #240
@GantMan ^^

[2019-01-15 03:50] GantMan commented on #240
That Reducer is for actions on app load.   So it's referenced directly here:

https://github.com/infinitered/ignite-andross/blob/master/boilerplate/App/Containers/RootContainer.js#L5

Though it makes sense to include in the index, it's really only meant to dispatch once on application start, and other reducers take it from there.  Moving it to the index is technically correct, but ineffectual.

I

[2019-01-15 06:05] #240 closed

[2019-01-23 11:22] maartenvandillen opened #243 "AppConfig not imported"
It seems that App/Config/AppConfig.js is no longer imported in App/Config/index.js. This results in I18n not initializing properly.

---
Steps to reproduce
Generate new project with Ignite v 2.1.0 and check App/Config/index.js. There used to be an import there but now it is gone.

[2019-01-24 02:52] tayfunyasar opened #242 "resource android not found on "npm run android:build""
What's going on?
[code]
---
Steps to reproduce

---
`ignite doctor` results:
Tayfuns-MacBook-Pro:instaton-mobile tayfunyasar$ ignite doctor
System
  platform           darwin
  arch               x64
  cpu                8 cores                                                         Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
  directory          /Users/tayfunyasar/dev/gitlap/instaton/client/instato

[2019-01-24 02:53] jamonholmgren commented on #243
@maartenvandillen Would you want to take a stab at fixing this?

[2019-01-25 12:15] stylerope commented on #242
this is because react-native recently updated to 0.58 and began to use sdk 28. Change your react-native version in package.json back to 0.57.8 will fix this error temporarily.
And be patient for the update of andross :)

[2019-01-25 12:25] stylerope opened #244 "Support for react-native 0.58"
I recently  create a new project with andross but when I ran `react-native run-android` I have this problem.

[code]

**However this can be fixed by downgrading react-native to 0.57.8**
Considering that 0.58 begins to support android sdk 27, I imagine the problem is caused by a latest version support somewhere. Thanks to my lack of ability, I don't know how to make the projet support sdk 28. May s

[2019-01-29 19:12] gatspy opened #247 "how upgrade RN to 0.56"
upgrade RN with react-native-git-upgrade 0.56.0
then react-native run-ios as follow error:

[code]
---
Steps to reproduce:
- run cmd `react-native-git-upgrade 0.56.0 ` in terminal

package.json modified:

[code]
---
`ignite doctor` results:

[code]

[2019-01-29 19:12] #247 closed

[2019-01-29 19:19] jamonholmgren commented on #242
@stylerope Thanks for that info! Would you want to take a stab at doing a pull request to upgrade Andross for 0.58 and SDK 28?

[2019-02-01 23:09] stylerope commented on #242
@jamonholmgren I looked into it and am glad to say that no painful modification will be made to support 0.58 and SDK 28, I'll try to do a pull request soon for upgrade.

[2019-02-04 15:17] nazrdogan commented on #244
I had a same problem I solved by adding part `subprojects` inside  ` android/build.gradle`

[code]

[2019-02-05 21:37] EralpB opened #249 "How to access new screen?"
after I create a new screen if I do

initialRouteName: 'NewScreen',

I see the new screen but otherwise I'm stuck at LaunchScreen.

How to add a tabbar to the bottom to switch between pages? Which tutorial should I follow?

Thanks.

[2019-02-06 20:05] DenisDov commented on #249
https://reactnavigation.org/docs/en/navigation-prop.html

[2019-02-06 23:12] jamonholmgren commented on #249
@DenisDov's is a good link, and here's more info about tabs: https://reactnavigation.org/docs/en/tab-based-navigation.html

[2019-02-06 23:12] #249 closed

[2019-02-07 12:31] brickolicious commented on #244
Moving from 27 to 28 solved it for me
ext {
    buildToolsVersion = "28.0.2"
    minSdkVersion = 16
    compileSdkVersion = 28
    targetSdkVersion = 27
    supportLibVersion = "28.0.0"
}
task wrapper(type: Wrapper) {
    gradleVersion = '4.7'
    distributionUrl = distributionUrl.replace("bin", "all")

}

[2019-02-12 10:12] markwk opened #250 "Remove Redux from React Navigation Integration"
As of React Navigation 3.x, Redux is not the recommended or even working way to handle storing navigation. So as stated here https://reactnavigation.org/docs/en/redux-integration.html, Redux shouldn't be where we store this stuff for navigation. As such, as brought up in #215, we should Remove Redux from React Navigation Integration in this template / boilerplate.

[2019-02-13 14:14] mfachmirizal opened #251 "Ignite Andross redux-saga Socket.io-client implementation"
Hello, Could someone show me how to use Socket.Io Client using redux-saga on Ignite Andross?..
or should I use socket.io-client inside my Screen ?
Thanks..

[2019-02-13 18:06] ruddell commented on #251
I have used "channels" from redux-saga for a websocket connection. The docs have an example for websockets, look for `eventChannel`: https://redux-saga.js.org/docs/advanced/Channels.html

[2019-02-13 18:12] mfachmirizal commented on #251
OK I'll give it a try
Thanks

[2019-02-21 04:01] Saad-Bashar opened #252 "Deep Linking not taking to the particular screen"

[2019-02-28 10:05] St1maSphere commented on #244
In case of updating to 28 build version, get the error on app level:
`com.android.build.api.transform.TransformException: Error while generating the main dex list.`

1. defaultConfig includes `multiDexEnabled true`
2. tried different combinations of versions/support libs
3. also, used dexOptions like `javaMaxHeapSize "4g"` and `preDexLibraries = false`

Any recommendations?

[2019-02-28 10:13] nazrdogan commented on #244
@St1maSphere did try out my solution ?

[2019-02-28 10:19] St1maSphere commented on #244
@nazrdogan Sure

my android/build.gradle

[code]

[2019-02-28 10:25] nazrdogan commented on #244
@St1maSphere Can you share full log ?

[2019-02-28 10:27] St1maSphere commented on #244
Would you prefer other with stacktrace?

[code]

[2019-02-28 10:46] nazrdogan commented on #244
@St1maSphere How is app/ gradle file ? did you add multidex there ?

[2019-02-28 10:48] St1maSphere commented on #244
@nazrdogan True
I've mentioned this in my first comment
[code]

[2019-02-28 11:16] nazrdogan commented on #244
@St1maSphere  did you add this ` implementation "com.android.support:multidex:1.0.1"`  ?

[2019-02-28 11:17] St1maSphere commented on #244
@nazrdogan I've added 1.0.3 version

[2019-02-28 11:19] nazrdogan commented on #244
@St1maSphere Log is not saying anything actually its too generic. What other libraries are you using ? When its start to happen ?

[2019-02-28 11:29] St1maSphere commented on #244
@nazrdogan I see
After updating to react-native from 0.57.8 to 0.58.5
I got AAPT error, and according to known issues https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#known-issues updated to 28 version
And so, here I am)

About workarounds:
I have tried to increase minSdkVersion to 21 and got other error: `DexArchiveMergerException: Error while merging dex a

[2019-02-28 11:39] nazrdogan commented on #244
@St1maSphere Upgrading is very painful. I can feel your pain. Can you share stacktrace with `cd android && ./gradlew installDebug --stacktrace
`  ?

[2019-02-28 11:42] nazrdogan commented on #244
you can  try to add this https://github.com/evollu/react-native-fcm/issues/740#issuecomment-361962109

[2019-02-28 11:44] St1maSphere commented on #244
@nazrdogan It's true)
But I should)

we use flavors on our project, so that's the development debug build stacktrace

[code]

[2019-02-28 11:58] St1maSphere commented on #244
I use 16.+version for base and maps play services
[code]

So I tried to add useVersion 16.0.0 param and got old error
[code]

As for initial version 11.8.0, such error:
[code]

[2019-02-28 12:04] St1maSphere commented on #244
@nazrdogan Is it possible, that some of my dependencies caused such behavior?
And is it any workaround to not update to 28 version till libs updates?

[2019-02-28 13:10] St1maSphere commented on #244
Seems I have found my problem
I have tried to build with Android Studio, and got some another error `Error: Program type already present: android.support.v4.content.Loader`
According to documentation https://developer.android.com/studio/build/dependencies#duplicate_classes
I need to delete duplications of support packages

My fault was adding these lines
[code]
After removing them, I was able to b

[2019-03-04 09:56] larspetterk91 commented on #247
https://stackoverflow.com/questions/41807843/how-to-disable-font-scaling-in-react-native-for-ios-app

[2019-03-11 09:17] abifdhllh opened #254 "Redux Action or Screen not refreshing when using DrawerNavigator from React Navigation"
I use DrawerNavigator from React Navigation. The structure look like this:

-DrawerNavigator
 --Screen A (InitialRoute)
 --Screen B
 --Screen C

First I'm on Screen A, then I try to move to Screen B, It runs okay with processing the mapDispatchToProps (Redux Action). Then I'm moving from Screen B to Screen A then I'm moving again to Screen B but It didn't refresh the Redux Action and screen not re

[2019-03-16 16:01] nazrdogan opened #255 "ignite g list is broken"
ignite-cli: 3.0.0-alpha.5
ignite-andross: ^4.0.0-alpha.2
command :  ignite g list Video
<img width="615" alt="Screen Shot 2019-03-16 at 17 57 35" src="https://user-images.githubusercontent.com/1672303/54477918-6525cd00-4815-11e9-872a-ab3bd5958dc2.png">

[2019-03-18 12:21] #255 closed

[2019-03-22 11:23] salhotra commented on #77
@GantMan Redux persist gives the ability to blacklist nested state properties.
`https://github.com/rt2zz/redux-persist#nested-persists`
When this is implemented, it breaks the app

[2019-04-03 18:52] JuxhinB opened #258 "react-navigaton-drawer Issue"
Current I have Ignite version 2.2.2 and I was having an issue while modifying drawerLockMode for a screen. By setting react-navigation fixed to version 3.0.0 also keeps react-navigation-drawer to 1.0.1 which is responsible to the issue. The solution of this issue is simple but it is a struggle to find from where the issue comes.

[2019-04-05 15:44] oktalk opened #259 "Failed to load bundle Storybook"
I'm running into an issue with Storybook. Starting with a fresh install, running `yarn storybook` the build fails (truncated error log below). I was able to move on by following this thread: https://github.com/storybooks/storybook/issues/4179

Updating my `package.json` to `"storybook": "storybook start -p 7007 --skip-packager | react-native start --projectRoot storybook"` is working for now.

[co

[2019-04-08 08:05] erikvdplas commented on #216
Ever found a fix @hemel-cse? The babel-preset still throws an exception for me, and with the react-native preset no stories are shown in storybook.

[2019-04-08 11:22] JuxhinB commented on #258
@kevinvangelder Thank for your reply ! Are you planning to totally discontinue the project? If not how can i help? I have been using Ignite recently and I'm really benefiting from it and in my opinion also others to because Ignite gives a good head-start.

[2019-04-08 20:13] kevinvangelder commented on #258
We're planning to continue supporting Ignite (and it's current boilerplates) for the foreseeable future, however Andross has been replaced by Bowser. If you still need to use the tech stack of Andross we'll gladly review PRs, but we're only actively contributing to Bowser as all of our current projects were generated with the newer Bowser boilerplate.

[2019-04-10 07:59] ZebelDattel opened #262 "Redux persist issue"
Redux persist does not rehydrate the data on the go. It rehydrates after some time and as a result doest not get the correct props on the first screen. this problem is only in the first screen. Is there any good solution to this like how could I delay the loading of first screen untill it is properly rehydrated?

[2019-04-10 15:45] alfonsosn opened #260 "React-Navigation and Conditional Rendering for Authentication? (IR-Boilerplate)"
Hey everyone! Just wanted to say that I love this boilerplate (I'm using IR). New to React-Native and this boilerplate has allowed me to go from zero to hero in a few weeks. I'm really impressed by how much thought was put into every single component, library, and framework added to this boilerplate.

Now, I have a question regarding react-navigation... If this doesn't seem like the appropriate ch

[2019-04-10 15:45] #260 closed

[2019-04-10 15:50] longpq18 opened #261 "handlers cannot have an undefined key"
When i create new reducer then I cann't create new Types
please help me

[2019-04-10 15:50] #261 closed

[2019-04-10 16:01] jamonholmgren commented on #258
To clarify, Andross isn't per se "deprecated", but is in "community support" which means that Infinite Red will:

1. Review issues (usually within about 14 days)
2. Review pull requests and provide feedback
3. Merge pull requests
4. Create new builds/releases

We will not:

1. Actively build new features
2. Actively fix bugs (usually -- some exceptions)
3. Guarantee a response or turnaround time

[2019-04-10 16:18] jamonholmgren commented on #262
Hey @ZebelDattel, I would recommend asking in the IR Community Slack, as you'll usually get better help there. http://community.infinite.red

[2019-04-10 16:18] #262 closed

[2019-04-10 20:47] budda opened #263 "Xcode Simulator not found when running ios from a new Ignite project"
---
What's going on?

A default macOS Simulator doesn't open when running ios project if the project is created with Ignite CLI.

If i generate the same base project with react-native then it does open the default iPhone X simulator.

---
Steps to reproduce

I created a project with
```react-native init awesome```
and then ran it with
```react-native run-ios```
and the Simulator opened and showed

[2019-04-10 20:48] budda commented on #263
This has been fixed for Bowser boilerplate, see https://github.com/infinitered/ignite/issues/1401#issuecomment-481777589

[2019-04-12 15:39] jamonholmgren commented on #263
@budda We need to upgrade Andross to 0.59.0. In Bowser it was a simple version number bump. Want to tackle upgrading it?

[2019-04-12 18:09] budda commented on #263
I dropped a pull request in a couple of days ago to do the RN update to 0.59.3 at https://github.com/infinitered/ignite-andross/pull/264

There's more work to be done to fix it though I think. I'm travelling at the moment so don't have long chunks of time to donate.

[2019-04-12 20:51] budda commented on #263
Okay, tried to run-ios after upgrading react-native AND react peer dependency.

xcode chokes with the following:

[code]
Which is the same as reported in https://github.com/infinitered/ignite/issues/1401#issuecomment-480997544 for the Bowser boilerplate.

[2019-04-12 21:37] budda commented on #263
Hmm, fixed all the errors by doing ```rm -rf node_modules && npm install``` in the project folder.
Why I needed to do that just after creating a new project i'm not clear on.

[2019-04-12 23:21] budda commented on #263
Something like running `react-native run-ios` 2-3 times the app eventually builds (!) and loads on the iOS Simulator.

I'm then greeted with a red banner error in the app:
[code]

I then tried a `react-native link` followed by `react-native run-ios` and the app loads and displays the example screens fine! (grrr...)

Not the smoothest of setups.

[2019-04-13 03:51] jamonholmgren commented on #263
Wow, yeah, that does seem rough. Thanks for the hard work @budda! I may tackle it tomorrow, not sure.

[2019-04-14 20:01] kerematam commented on #259
I had same issue. I've solved by updating babel-core to 7.0.0-bridge.0 and use storybookSwitcher function for relaying storybook to UI.

In App.js file :
[code]

[2019-04-22 10:00] #263 closed

[2019-04-23 09:21] timkuilman opened #265 "Update path for RN-app built with ignite-andross"
I haven't used the ignite cli or the ignite-andross boilerplate before and I need to update a React Native app that is currently running on RN 0.55.4.

What does the update path for apps built with this boilerplate looks like? I see that there [was a 3.2.0 release](https://github.com/infinitered/ignite-andross/releases) yesterday that adds support for RN 0.59. Can I update my existing project with

[2019-04-24 16:38] JuanSeBestia opened #266 "Create new app"
I get started with ignite, i can't create base proyect

[code]

[2019-05-02 12:31] HunWalk opened #267 "redux-saga not firing the functions upon redux actions"
What's going on?
---
In the latest boilerplate redux saga is not firing the functions upon dispatching the observed action.

Steps to reproduce
---
[code]

add the test request type into the root saga (and the TestSaga itself), then try to dispatch the action

ignite-doctor
---
[code]

[2019-05-03 04:02] tonmanayo opened #268 "i18n is now depricated"
---
What's going on?
i18n: This library is deprecated in favor of react-native-languages
---
Steps to reproduce
ignite init uses the react-native-i18n and should be changed to react-native-languages
---
`ignite doctor` results:

[2019-05-03 04:02] #268 closed

[2019-05-04 07:27] ryanlntn commented on #244
This should be resolved with the latest which runs 0.59 out of the box.

[2019-05-04 07:27] #244 closed

[2019-05-04 09:39] ryanlntn commented on #269
@jamonholmgren We should've removed it with the major version bump but didn't :(

[2019-05-04 22:43] ryanlntn commented on #269
It looks like we have removed that generator in the latest version.

[2019-05-04 22:43] #269 closed

[2019-05-04 22:51] ryanlntn commented on #250
As the redux integration represents best practices at IR we will not be removing it. You're more than welcome to fork the boilerplate and modify as much as you want and we'd be happy to add it to the list of third party maintained boilerplates. 😄

[2019-05-04 22:51] #250 closed

[2019-05-04 22:51] #251 closed

[2019-05-04 22:58] ryanlntn commented on #265
@timkuilman Ignite doesn't handle dependency upgrades so using https://pvinis.github.io/purge-web/ and updating manually is your best bet.

[2019-05-04 22:58] #265 closed

[2019-05-04 22:59] ryanlntn commented on #266
This is fixed with the release of Ignite 3 and the latest boilerplates.

[2019-05-04 22:59] #266 closed

[2019-05-05 01:02] jamonholmgren commented on #267
@HunWalk Would you want to submit a PR? Andross is in community support and we'd greatly appreciate it!

[2019-05-05 01:08] #243 closed

[2019-05-05 01:14] infinitered-circleci commented on #243
:tada: This issue has been resolved in version 4.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-andross)
- [GitHub release](https://github.com/infinitered/ignite-andross/releases/tag/v4.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-10 22:25] ryanlntn commented on #267
Thanks @HunWalk!

[2019-05-10 22:25] #267 closed

[2019-05-10 22:27] MuhammadUsman786786 commented on #267
Thanks @HunWalk

[2019-05-14 02:44] lalithnarayan opened #271 "Unable to access NavigationEvents"
System
platform darwin
arch x64
cpu 4 cores Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
directory /Users/lalithnarayankashyap/Documents/testApp

JavaScript
node 10.15.3 /usr/local/bin/node
npm 6.9.0 /usr/local/bin/npm
yarn 1.7.0 /usr/local/bin/yarn

React Native
react-native-cli 2.0.1
app rn version 0.57.7

Ignite
ignite 2.2.3 /usr/local/bin/ignite
boilerplate ignite-andross

Android
java 1.8.0_121 /

[2019-05-16 14:51] dkocich opened #272 "Unable to "yarn run storybook" because of missing deps"
for some reason there are references to missing packages in [addons.js](https://github.com/infinitered/ignite-andross/blob/master/boilerplate/storybook/addons.js)

[code]

I think that both imports can be removed or packages added to `package.json` to solve the issue:

[code]

[2019-05-20 10:15] superp commented on #271
I had the same problem, try this PR:
https://github.com/infinitered/ignite-andross/pull/273

[2019-05-21 16:41] jamonholmgren commented on #272
@dkocich I'd love a PR to fix this!

[2019-05-21 16:55] jamonholmgren commented on #271
Fixed by #273.

[2019-05-21 16:55] #271 closed

[2019-05-21 18:07] #272 closed

[2019-05-21 18:15] infinitered-circleci commented on #272
:tada: This issue has been resolved in version 4.0.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-andross)
- [GitHub release](https://github.com/infinitered/ignite-andross/releases/tag/v4.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-23 13:59] kea0811 opened #276 "App failed on the first install"
So i just create a plain andross project. But i am not able to run the project on my iOS simulator. Anyone having the same issue?

<img width="218" alt="Screenshot 2019-05-23 at 10 03 52 PM" src="https://user-images.githubusercontent.com/8357167/58259232-b7034a00-7da6-11e9-828c-0af091a512cf.png">

[2019-05-23 14:59] #276 closed

[2019-05-27 11:39] HunWalk commented on #254
Hi. Did you managed to solve the problem? If so, please close this issue.
If not, please provide more information about this.

Thank you 😊

[2019-05-29 02:46] king804 opened #277 "not able to receive addListener willFocus"
[code]

with react-navigation 3.0~3.9 also don't work

[2019-05-29 03:07] jamonholmgren commented on #254
Hey @abifdhllh , did you happen to fix this?

[2019-06-03 06:54] king804 commented on #277
Fixed?

[2019-06-10 07:02] m1r4s commented on #277
I have found out there is a solution for those listeners
https://github.com/react-navigation/redux-helpers/issues/53#issuecomment-492942942

[2019-06-10 17:06] daoudjahdou opened #278 "Does anyone manage to compile the app for web ?"
Hi everyone did anyone manage to compile andross with react-native-web ? i tried to follow this guide but i'm sure i'm missing something
[here is the guide i'm trying to follow](https://github.com/necolas/react-native-web/blob/master/docs/guides/multi-platform-apps.md)
I would be really interested to know if someone tried it, or what are the resources i could use to make it work.

[2019-06-17 17:07] joshuakoh7 opened #280 "Any examples for passing variables to other containers through redux store?"
The complex initiation sequence is confusing for someone new

[2019-06-22 19:52] parthibanloganathan opened #281 "reduxsauce is deprecated but still used in ignite-andross"
Took a look at https://github.com/infinitered/reduxsauce and the project is archived and no longer supported, but it's used in ignite-andross. Is there a recommended alternative or is the move to go with vanilla redux?

[2019-06-26 19:24] parthibanloganathan commented on #281
From looking around, `redux-actions` seems to be the prevalent library to reduce boilerplate

[2019-07-01 08:51] Unforgiven-wanda commented on #278
Just spent the last two days getting it to work and nothing so far.
Hoping someone will notice this issue.

[2019-07-03 20:30] daoudjahdou commented on #278
@Unforgiven-wanda did it work ? i totally gave up on that and went with pure react app and maybe in the future a react native app

[2019-07-04 07:26] Unforgiven-wanda commented on #278
@daoudjahdou Unfortunately no. I kept hopping from problem to problem when fixing one would generate three others.
It didn't help that I was on RN 0.59 with AndroidX here and most native dependencies being broken. I might try it again now that 0.60 is out and if I succeed I'll let you know.

[2019-07-08 08:21] bencergazda commented on #277
@king804 @lalithnarayan @odraude7 @m1r4s This should be already fixed in #273

[2019-07-09 03:44] liuhong1happy commented on #277
+1

[2019-07-14 03:43] jamonholmgren commented on #281
We may un-archive it, as I've had some interest in taking it over. Stay tuned.

[2019-07-14 03:44] jamonholmgren commented on #280
I would recommend asking in the [Infinite Red Community Slack](http://community.infinite.red), @joshuakoh7. If you figure it out, we'd love a docs contribution!

[2019-07-14 03:44] #280 closed

[2019-07-14 05:25] vfa-tienhnm-os opened #283 "Error occurred when using with Apollo: Cannot read property 'data' of null"
Hello all!

I'm having trouble using ignite with apollo graphql.

I'm also not sure if this error of ignite or apollo, but when I use `react-native init` to create the project, the apollo works as expected.

The problem only occurs on Android, when I turn off the graphQL server (create network error), the application will appear a red screen when cannot query to server.

![Screenshot_1562320865](h

[2019-07-14 05:34] #284 closed

[2019-07-14 05:34] sooxiaotong opened #284 "console error: "uncaught at check", "call argument fn is undefined""
After i delete whole node_modules folder, i exec `npm install --save` & `react-native run-ios` again, i get this result

![image](https://user-images.githubusercontent.com/13378059/30218887-ec1b0b28-94ec-11e7-9b2b-027dfdc1bd05.png)

[code]

[2019-07-16 11:59] pa-bouly opened #285 "Upgrade to react native 0.60"
Hi, thanks for this great boilerplate! Do you plan to upgrade it with the last release of RN ?

[2019-07-21 11:02] Unforgiven-wanda commented on #278
@daoudjahdou
So, I did manage to convert my app to React-native-web, but before I get into specifics let me tell you it's completely broken beyond repair (both visuals and 90% of the libs I use) I guess you really need to start a project from scratch to use RNW, because converting an existing one is just not doable.

Here, a screenshot of how it looks on device
![screenshot-2019-07-21_11 40 51 61]

[2019-07-27 00:40] jamonholmgren commented on #285
Thanks for the kind words @pa-bouly ! We'd love a PR from the community, as we're focused on Bowser currently.

[2019-07-27 00:41] jamonholmgren commented on #283
Hey @vfa-tienhnm-os , thanks for the issue! We'd love a PR from the community, as we're focused on Bowser currently.

[2019-07-28 18:31] karimmorta commented on #285
Thanks for the great work :)
@jamonholmgren Any guidance on how to do that ?

[2019-07-30 04:24] jamonholmgren commented on #285
@karimmorta Thank you!

I would start with the files located here: https://github.com/infinitered/ignite-andross/tree/master/boilerplate

Have those open, and ignite a new project like so:

[code]

Go through the steps of upgrading (possibly just `react-native unlink && react-native upgrade` ?)

Then, once it's upgraded, look at the diff (`git diff`) and apply those same changes to the files in th

[2019-08-14 12:05] affanhashone opened #290 "React native app crash after upgrading to 60 in release mode"
App crash on upgrading to 60 in release mode

The app crash when changing the bottom tab navigator.

I am using
Andross version

[2019-08-20 08:47] devteam-bold commented on #272
Addons should be same version as @storybook/react-native
    "@storybook/addon-actions": "^4.1.11",
    "@storybook/addon-links": "^4.1.11",

[2019-08-20 08:49] acpardal commented on #272
Addons should be same version as "@storybook/react-native": "^4.1.11"

"@storybook/addon-actions": "^4.1.11",
"@storybook/addon-links": "^4.1.11"

[2019-08-23 04:12] lytieunuong1 commented on #247
You can try this one on RN 0.59
Text.defaultProps = Text.defaultProps || {};
Text.defaultProps.allowFontScaling = false;

[2019-09-02 11:54] waleedarshad opened #287 "Uncaught TypeError: api.on is not a function"
Hi while running `npm run storybook`. I got this error.
What should I do now?

[2019-09-04 21:31] rahulserver opened #288 "ignite-andross was not able to be installed. Is it a valid NPM module?"
Just gave ignite cli a try and when I do a `ignite new sometestapp`, I get this error trace on windows 10:

[code]
---
`ignite doctor` results:

[code]

PS: `yarn add ignite-andross --dev` when run separately works fine.

[2019-09-08 10:20] affanhashone opened #289 "andross update to latest vesion ?"
### Hey there! Ignite CLI seems to be having a problem, eh?

Welllllll, it just might be. First, search the issues to make sure it's not already
here, and if not head over to http://community.infinite.red to
get some help. If you've identified that it's really an Ignite CLI issue, then:

- Explain what's going on and preferably how to replicate the issue (bonus points for a repro app)
- Run `ignit

[2019-09-25 14:38] ElieMyIdea commented on #290
Hi,

Are you sure that it doesn't come from Reactotron ?
I have this issue in release mode :

`undefined is not an object (evaluating 'console.tron.log'),`

[2019-09-25 18:21] ruddell commented on #290
@ElieMyIdea For that issue you can set up `console.tron` in prod to use empty methods.  Here's how [ignite-bowser](https://github.com/infinitered/ignite-bowser/blob/e858ab566d6669cddff6b35a42d0c66a3eca0e07/boilerplate/app/services/reactotron/reactotron.ts#L23-L48) does it

[2019-09-26 12:45] ElieMyIdea commented on #290
@ruddell thanks a lot ;)

[2019-09-26 13:54] emrekca opened #291 "Check the render method of 'NavigatorReduxWrapper'."
I've been dealing with this problem for 2 days, After creating a new project, I get this error.

Thanks for your help.

<img width="309" alt="Ekran Resmi 2019-09-26 16 49 18" src="https://user-images.githubusercontent.com/10177802/65693853-9c571f80-e07d-11e9-8618-5d41fe12382a.png">

`ignite doctor` results:

`System
  platform           darwin

  arch               x64
  cpu                8 cores

[2019-09-26 17:57] jamonholmgren commented on #291
Anyone want to submit a PR?

[2019-09-26 18:00] #290 closed

[2019-09-26 18:00] jamonholmgren commented on #289
We'd love a PR to upgrade Andross to the latest version of React Native.

[2019-09-26 18:01] jamonholmgren commented on #288
@rahulserver It looks like you pasted the wrong thing from `ignite doctor` ?

[2019-09-26 18:02] jamonholmgren commented on #287
Hi @waleedarshad, can you paste in the whole error plus the results of `ignite doctor` please?

[2019-09-27 08:39] sobiso commented on #291
@ZulianTiger Can you write full path to this file, because i cannot find.

[2019-09-27 19:34] #291 closed

[2019-09-28 14:27] waleedarshad commented on #287
Hi @jamonholmgren I am able to resolve it after updating all my storyboard version
`-    "@storybook/addon-actions": "5.0.11",
-    "@storybook/addon-links": "5.0.11",
-    "@storybook/addon-storyshots": "^4.1.11",
-    "@storybook/addons": "^4.1.11",
-    "@storybook/channels": "^4.1.11",
-    "@storybook/react-native": "^4.1.11",

=============To=================
+    "@storybook/addon-actions":

[2019-09-28 14:43] waleedarshad commented on #287
platform           darwin

  arch               x64
  cpu                8 cores                               Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
  directory          /Users/macbookpro/Documents/pfm_app

JavaScript
  node               12.9.1       /usr/local/bin/node
  npm                6.10.3       /usr/local/bin/npm
  yarn               1.17.3       /usr/local/bin/yarn

React Native
  r

[2019-09-30 23:34] jamonholmgren commented on #287
@waleedarshad Would you want to submit a PR to this repo that updates all those packages in the boilerplate `package.json`?

[2019-10-01 06:42] qtcoder999 commented on #291
This worked for me. Thanks!

[2019-10-05 15:31] cristofer commented on #206
This works for me: https://github.com/axios/axios#global-axios-defaults

[2019-10-07 15:57] antonabyzov opened #292 "RN60+ issue for Andross project"
Hey guys, do you suggest supporting new version of RN60+ please?
When I try to do `ignite new myapp` and select andross, it shows an error
![image](https://user-images.githubusercontent.com/44438816/66170709-f80d4400-e64d-11e9-95ff-466878302554.png)

[2019-10-07 16:00] jamonholmgren commented on #292
@antonabyzov Are you selecting Andross or Bowser? Can you provide an `ignite doctor` please?

[2019-10-07 16:04] mikaoelitiana commented on #292
Maybe this was an internet connection issue? I have just tried myself, it works fine:

<img width="503" alt="Capture d’écran 2019-10-07 à 18 03 13" src="https://user-images.githubusercontent.com/674667/66328406-dbfaf280-e92c-11e9-8d2b-c50639eea13f.png">

@jamonholmgren he seems to be using Bowser based on the screenshot.

[2019-10-07 16:25] jamonholmgren commented on #289
Duplicate of #285.

[2019-10-07 16:25] #289 closed

[2019-10-07 16:25] jamonholmgren commented on #292
@mikaoelitiana Thanks for the verification! I'm seeing the same thing on my end.

See #285.

[2019-10-08 09:35] qtcoder999 commented on #291
PR has been created for this issue.

Track here at https://github.com/react-navigation/redux-helpers/pull/100

[2019-10-29 16:22] tayfunyasar opened #295 "AndroidManifest merger error on run"
I have started new project from scratch.

I'm having error during run.

Here it is my doctor result.

I executed these commands below. And nothing changed.

[2019-11-01 14:43] gagandeep commented on #281
@jamonholmgren  I think, project migrated to https://github.com/jkeam/reduxsauce. So, we can close this one.

[2019-11-03 04:16] samtoya commented on #252
Here is a link to the output of ignite doctor, any assistance on how to get this working would be appreciated.

https://github.com/infinitered/ignite/issues/288#issuecomment-539465944

Thanks.

[2019-11-05 02:52] #281 closed

[2019-11-07 14:18] nyl9488 opened #296 "Crash after upgrade to 0.61"
Hi, I am facing a crash when upgrade from react native 0.59.9 to 0.61.4.

[2019-11-12 08:20] nyl9488 commented on #285
The app crash after upgrade to 0.60+

[2019-11-13 21:20] grappesm opened #297 "Andross is not actual - problem with andoidx"
I ran simple:

ignite new MyProject
Output:
[code]
After that I started server *yarn start"  (which was OK), and I ran "react-native run-android" which causes this problem:

[code]

`ignite doctor` results:

[code]

[2019-11-15 21:52] shaikhaffan commented on #285
@nyl9488  i upgraded to latest version

[2019-11-18 18:04] nyl9488 commented on #285
how did u do it?

[2019-11-21 22:40] conradkirschner opened #299 "[Bug] Can not Create new Project on Windows 10"
### Can not create new Project
---
What's going on?
I've installed ignite globally on Windows 10.
Then I tried to use the wizzard to create a new project

---
- adding ignite-andross
- installing boilerplate
- using the Infinite Red boilerplate v2 (code name 'Andross')
√ using the Infinite Red boilerplate v2 (code name 'Andross')
- adding React Native 0.59.9 (30 seconds-ish)
√ added React Native 0

[2019-12-02 22:36] SPopenko commented on #299
@conradkirschner could you please share your workaround here?

[2019-12-03 10:49] tayfunyasar opened #302 "console.tron.log is undefined"
ERROR:
[code]

package.json
[code]
I deployed app usign "npm run android:install" to my physical device and i get the error.

I think Reactotron dependencies should be in prod dependencies. What do you think?

[2019-12-04 14:05] conradkirschner commented on #299
Reinstalled windows then it worked, nevertheless such a unstable boilerplate is nothing that I want to use

[2019-12-13 09:53] gavinangym commented on #285
I took a stab at this and was able to get:
ignite new MyProject -b ignite-andross
to work with a couple of caveats:
1. No react-native-i18n (anyway it has been deprecated)
2. No react-native-vector-icons
3. Need to add some code to the end of the Pod file to resolve an issue with react-native-config where the GeneratedDotEnv.h file cannot be found. [this issue](https://github.com/luggit/react-nati

[2020-01-24 20:22] moumnimohamed opened #300 "Command failed : gradlew.bat app:installDebug. when run react-native run-android"
after installing  the ignite project i launch the emulator and  i execute react-native run-android  but it generate this error
![error](https://user-images.githubusercontent.com/21304554/69883121-0d5fc100-12d3-11ea-9581-347a5dcde753.PNG)

[2020-01-28 09:38] bencergazda commented on #292
@antonabyzov Looks like React Native 0.61.4 has [landed](https://github.com/infinitered/ignite-andross/releases/tag/v4.2.0) in Andross.

[2020-01-28 09:44] bencergazda commented on #285
Andross already supports [React Native 0.61.4](https://github.com/infinitered/ignite-andross/releases/tag/v4.2.0)

[2020-01-28 09:45] bencergazda commented on #296
Andross already supports [React Native 0.61.4](https://github.com/infinitered/ignite-andross/releases/tag/v4.2.0)

[2020-02-06 23:52] #302 closed

[2020-02-11 19:20] fallenclient commented on #300
I was able to get past that error and be able to run the Ignite starter screens by making the following dependency changes in package.json on a fresh install:
`"react-native-reanimated": "^1.7.0",
 "react-native-screens": "^2.0.0-beta.2",
 "react-navigation": "4.0.10",
 "react-navigation-drawer": "^2.3.4",
 "react-navigation-tabs": "^2.7.0",`

[2020-02-15 12:02] alireza-bakhshifar opened #304 "TypeError: undefined is not an object (evaluating '_reactNavigation.ThemeColors.light')"
Hi , I built a project with ignite-Andross and now I am getting this error when I run the project
![SharedScreenshot](https://user-images.githubusercontent.com/59390030/74587367-c8604680-5006-11ea-90c8-25a70cf6ee73.jpg)

The project builds successfully and runs without any trouble on node.js server but I confront this error on the emulator , I searched this issue on the internet and everybody was

[2020-02-18 14:21] pvshum commented on #304
Running into the same issue. Any updates by chance?

[2020-02-19 02:28] kaladin9017 commented on #304
+1

[2020-02-24 13:50] nazrdogan commented on #304
As a workaround solution change like or add missing packages to package.json.
[code]
Also  need to setup react-native-screens

Add the following two lines to dependencies section in `android/app/build.gradle`
[code]

[2020-03-09 11:56] 2IhsanWp commented on #304
still not work

[2020-03-09 12:49] nazrdogan commented on #304
@2IhsanWp  what error you get now ?  if its same error like before it might be caching issue. I suggest clear all caches.

[2020-03-09 13:51] 2IhsanWp commented on #304
yah still the same,and i did all solution you mention above

![error](https://user-images.githubusercontent.com/47314082/76218890-8d3ce600-6247-11ea-90e8-b55fa2bcc27c.png)

[2020-03-20 07:48] mrbrackins commented on #304
+1

[2020-03-20 17:42] chalupagrande opened #305 "failed to add React Native 0.61.4"
Ignite Andross is failing on adding React Native.

[code]

[2020-03-20 20:50] chalupagrande commented on #305
opening with ignite. as its also fails on with Bowser

[2020-03-20 20:50] #305 closed

[2020-03-20 22:33] pjnovas commented on #304
just trying ignite for the first time and I'm having the same issue

[2020-03-21 04:07] pjnovas commented on #304
alright, it took me some time to figure it out but the issue is in the following paths
* `ignite/DevScreens/PluginExamplesScreen.js`
* `ignite/DevScreens/PresentationScreen.js`

change the line:

[code]
into:

[code]

I did that after going through upgrading [react-navigation to v4 guide](https://github.com/react-navigation/react-navigation/releases/tag/v4.0.0) so if that doesn't work try upgradin

[2020-04-04 05:57] akash89b commented on #304
@pjnovas - on trying to run the npm command you have mentioned above, we get a warning which says deprecated.

[2020-04-04 06:00] akash89b commented on #304
@alireza-bakhshifar - i am also running into the same issue and not able to find any solution.
Were you able to fix it?

[2020-04-04 15:54] pjnovas commented on #304
@akash89b ignore de warning, it will work just fine

[2020-04-04 20:33] mrbrackins commented on #304
@pjnovas this fixed that particular error. Now seeing a "1437" error and a Invariant Violation: Module RCTEventEmitter is not a registered callable module (calling receiveTouches)

callFunctionReturnFlushedQueue
    [native code]:0

[2020-04-09 05:37] HamzaTatheer commented on #304
Did anyone find so solution. I get the same error

[2020-04-20 08:49] Gameworl opened #306 "Problem with storyBook"
Hello everyone,
I have a problem with storyBook.
I have create a new project with ignite-andross in react-native but when I launch my project it's ok that work but when i go to storyBook i see that
![again](https://user-images.githubusercontent.com/64004814/79732718-59e48100-82f4-11ea-8a1a-a6e2fc4847ba.png)
(and yes i have story)
We try to change version and many other issue but we all time the sa

[2020-04-21 13:30] tuandt commented on #304
I made it works after changing version of react-navigation and install some more modules.

Here is my finally module list:

 **"@react-native-community/masked-view": "^0.1.9",**
    "apisauce": "^1.1.1",
    "format-json": "^1.0.3",
    "identity-obj-proxy": "^3.0.0",
    "lodash": "^4.17.15",
    "prop-types": "^15.7.2",
    "querystringify": "^2.1.1",
    "ramda": "^0.27.0",
    "ramdasauce": "^

[2020-04-23 07:25] FlyingTigerReally commented on #304
I also met, when will it be fixed?

[2020-04-26 18:00] guglie commented on #304
I confirm that following [this guide](https://github.com/react-navigation/react-navigation/releases/tag/v4.0.0) as suggested by @pjnovas worked

[2020-05-03 02:53] moksamedia commented on #304
@guglie Thanks. Worked for me as well.

[2020-05-06 19:13] jamonholmgren commented on #304
Anyone want to submit a PR?

[2020-05-13 15:37] f97 commented on #304
Hix, still error... It need a merge request.

[2020-05-15 17:06] chimemoo commented on #304
Hello i got this error too. Whats happening?

[2020-06-01 06:14] manminder01 commented on #304
i am also facing the same issue.
not sure why.
![Screenshot_1590992018](https://user-images.githubusercontent.com/65155797/83381035-2f124000-a3fd-11ea-9fff-e5225e057d89.png)

[2020-06-01 06:43] manminder01 commented on #304
why using old navigations.?

[2020-06-01 19:36] ameinabdi commented on #304
please update this boilerplate and dependencies @jamonholmgren

[2020-06-13 22:35] jamonholmgren commented on #304
@ameinabdi This boilerplate is now on community support, which means we rely on the community to provide boilerplate updates. Thanks!

[2020-06-14 16:21] jay-jlm commented on #304
@jamonholmgren , if so, then we need to update this Boilerplates.md document, right? 😉
![screenshot-github com-2020 06 14-13_15_23](https://user-images.githubusercontent.com/21344963/84598508-a5716200-ae41-11ea-9858-309309188af9.png)

I will see if I can submit a PR (to fix the md, not the issue).

[2020-07-16 12:12] spetushkov commented on #304
Hi,

these steps helped me to run the app in iOS and Android simulators:

* Install the app with minimum features (no vector icons, etc.)
* Install iOS pods: cd ios && pod install && cd ../
* Uninstall current react-navigation v3: npm uninstall react-navigation
* Upgrade to react-navigation v4: https://github.com/react-navigation/react-navigation/releases/tag/v4.0.0
* Change Java version to 8 or 9

[2020-07-24 16:27] infinitered-circleci commented on #302
:tada: This issue has been resolved in version 4.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/ignite-andross)
- [GitHub release](https://github.com/infinitered/ignite-andross/releases/tag/v4.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-31 12:59] Prashant1503 opened #310 "Error Occured while running npx react-native run-android command"
![Screenshot (71)](https://user-images.githubusercontent.com/44309149/89037217-bd526600-d35b-11ea-8218-fc1af2391f3b.png)

[2020-08-19 11:23] jqn commented on #216
Closing this because it works as expected on new version.

[2020-08-19 11:23] #216 closed

[2020-08-21 08:26] alvinisasi opened #311 "Error: `createStackNavigator()` has been moved to `react-navigation-stack`."
Hi, everyone! I was built a react-native app using Ignite Andross boilerplate and i found this error after i run command `yarn start` and `yarn android` in Ubuntu 18.04 terminal.

![image](https://user-images.githubusercontent.com/36470351/90867941-5820ec00-e3c0-11ea-8687-68957944e3b2.png)

So, i tried to trace the `createStackNavigator()` module, and i know why i got this error. Turns out that th

[2020-08-21 08:34] alvinisasi commented on #311
when i run `ignite doctor` :
[code]

[2020-10-16 02:53] abifdhllh commented on #254
I've solved the issue by adding param **unmountInactiveRoutes** on DrawerNavigator function

[2020-10-16 02:53] #254 closed

[2020-11-10 09:59] LiuTangLei opened #313 "How to ingnite-andross use TypeScript when init project?"
just like Bowser , init project and typescript is ready

[2020-11-12 02:27] #313 closed

[2020-11-24 04:55] nicksanchezc137 opened #314 "Add config option to remove Redux Navigation"
Had issues with Redux navigation and really struggled to remove the integration from my app.

[2020-11-29 14:31] shaksi commented on #311
do a search for "createStackNavigator," and for each instance remove it and below that declaration add the following

import { createStackNavigator } from 'react-navigation-stack'

[2020-12-03 21:54] e-mcbride opened #315 "Errors while running `npx react-native run-ios`. Afte resolving errors, Andross rendering correctly on Android, but not on iOS"
I'm using react-native version 0.63. I ran into errors while attempting to initiate a new project using the Andross boilerplate. I will explain how I resolved them below.

**First error:**

[code]

I fixed these by running the recommended `unlink` actions in parentheses, adding `npx` before each like so: `npx react-native unlink react-native-device-info`

**Second error:**
[code]

Fixed using [thi

[2020-12-03 22:21] e-mcbride commented on #315
I have closed this issue for now because I found that even after resolving these errors, the app simulation did not render correctly (pieces missing). I am investigating this now.

[2020-12-18 09:33] frizki88 opened #316 "generate list didnt show any option"
generating list with command npx ignite-cli g list did not show any option to select

trying to input string but seems not working (flatlist still generate list)

[2021-01-13 22:30] m-tbox opened #317 "APIs are not called in background - ios"
**What's going on?**
- I have an api that uploads images it works fine in foreground but if submit the form and take the app to background the form is not submitted to server.
- I have added debugger before and after api call in saga but in background mode  saga doesn't receive any response

---
**Steps to reproduce**
- Submit form at a POST api
- Bring the app to background
- Form  will not be su